.homepage-tabs-component-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  .homepage-card {
    width: 355px;
    margin-top: 12px;
    //margin-left: 30px;
    border-radius: 8px;
    background-color: #33b5e5;
    display: flex;
    flex-direction: column;
    .title {
      width: 100%;
      margin-left: 20px;
      margin-top: 6px;
      margin-bottom: 10px;
      font-family: Roboto, serif;
      font-size: 23px;
      color: #ffffff;
      text-decoration: none solid rgb(255, 255, 255);
      mdb-icon > i {
        font-size: 22px;
        color: #dbdbdb;
      }
    }
  }
  .content {
    width: 320px;
    margin-left: 20px;
    margin-bottom: 13px;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
  }
  .card-hover {
    &:hover {
      background-color: #0099CC;
      cursor: pointer;
    }
  }
  .homepage-card-link {
    display: flex;
  }

  @media screen and (max-width: 1546px) {
    .homepage-card {
      width: 340px;
      .title {
        margin-left: 20px;
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 22px;
        mdb-icon > i {
          font-size: 20px;
        }
      }
    }
    .content {
      width: 305px;
      margin-left: 20px;
      margin-bottom: 13px;
      font-size: 13.3px;
    }
  }
  @media screen and (max-width: 1485px) {
    .homepage-card {
      width: 310px;
      .title {
        margin-left: 20px;
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 20px;
        mdb-icon > i {
          font-size: 18px;
        }
      }
    }
    .content {
      width: 275px;
      margin-left: 20px;
      margin-bottom: 13px;
      font-size: 12.2px;
    }
  }
  @media screen and (max-width: 1365px) {
    .homepage-card {
      width: 280px;
      .title {
        margin-left: 20px;
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 18px;
        mdb-icon > i {
          font-size: 16px;
        }
      }
    }
    .content {
      width: 245px;
      margin-left: 20px;
      margin-bottom: 13px;
      font-size: 11px;
    }
  }
  @media screen and (max-width: 1235px) {
    .homepage-card {
      width: 250px;
      .title {
        margin-left: 20px;
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 18px;
        mdb-icon > i {
          font-size: 16px;
        }
      }
    }
    .content {
      width: 220px;
      margin-left: 20px;
      margin-bottom: 13px;
      font-size: 10.6px;
    }
  }
  @media screen and (max-width: 1110px) {
    .homepage-card {
      width: 230px;
      .title {
        margin-left: 12px;
        margin-top: 2px;
        margin-bottom: 8px;
        font-size: 16px;
        mdb-icon > i {
          font-size: 14px;
        }
      }
    }
    .content {
      width: 205px;
      margin-left: 12px;
      margin-bottom: 13px;
      font-size: 10.6px;
    }
  }
  @media screen and (max-width: 1023px) {
    .homepage-card {
      width: 355px;
      margin-top: 24px;
      margin-right: 20px;
      .title {
        margin-left: 20px;
        margin-top: 2px;
        margin-bottom: 12px;
        font-size: 22px;
        mdb-icon > i {
          font-size: 20px;
        }
      }
    }
    .content {
      width: 325px;
      margin-left: 12px;
      margin-bottom: 13px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 899px) {
    .homepage-card {
      width: 325px;
      margin-top: 24px;
      margin-right: 20px;
      margin-left: 10px;
      .title {
        margin-left: 20px;
        margin-top: 2px;
        margin-bottom: 8px;
        font-size: 22px;
        mdb-icon > i {
          font-size: 20px;
        }
      }
    }
    .content {
      width: 295px;
      margin-left: 12px;
      margin-bottom: 13px;
      font-size: 13px;
    }
  }
}
