.homepage-tabs-component-wrapper {
  .homepage-card {
    width: 355px;
    height: 180px;
    margin-left: 30px;
    border-radius: 8px;
    background-color: #007bbd;
    .title {
      width: 100%;
      margin-left: 20px;
      margin-top: 6px;
      margin-bottom: 10px;
      font-family: Roboto, serif;
      font-size: 23px;
      color: #ffffff;
      text-decoration: none solid rgb(255, 255, 255);
      height: 23px;
      mdb-icon > i {
        font-size: 22px;
        color: #dbdbdb;
      }
    }
  }
  .content {
    width: 320px;
    height: 48px;
    margin-left: 20px;
    margin-bottom: 13px;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
  }
  .card-hover {
    &:hover {
      background-color: #006aa3;
      cursor: pointer;
    }
  }
}
