<div class="homepage-tabs-component-wrapper row">
  <div class="homepage-card">
    <div class="title">
        <mdb-icon fas icon="search"></mdb-icon>
        Претражи
    </div>
    <div class="content">
      Овом универзалном претрагом добијате све резултате на основу уписаног текста. Приликом
      уписивања текста можете одабрати и појмове који ће вам аутоматски бити понуђени у
      падајућем менију. Добијене резултате можете додатно сузити помоћу филтера са леве стране.
    </div>
  </div>
  <div class="homepage-card card-hover">
    <div class="title">
      <mdb-icon fas icon="tasks"></mdb-icon>
      Напредна претрага
    </div>
    <div class="content">
      Направите Ваш БИСИС кориснички профил и користите низ онлајн услуга: увид у позајмљену
      грађу и рокове за враћање, могућност да сами продужите рок враћања позајмљене грађе, увид у
      књиге које сте до сада прочитали, датум истека чланарине, оцењивање прочитаних књига…
    </div>
  </div>
  <div class="homepage-card card-hover">
    <div class="title">
      <mdb-icon fas icon="user-alt"></mdb-icon>
      Напредна претрага
    </div>
    <div class="content">
      Избором више одговарајућих параметара за претраживање добијате прецизније резултате.
    </div>
  </div>
  <div class="homepage-card card-hover">
    <div class="title">
      <mdb-icon fas icon="external-link-alt"></mdb-icon>
      Узајамни каталог
    </div>
    <div class="content">
      Путем узајамног каталога можете истовремено претражити фондове свих библиотека које
      користе систем БИСИС.
    </div>
  </div>
</div>
