.result-table-view-component-wrapper {
  .book-row:hover {
    background: #e0e0e0;
    cursor: pointer;
    //color: white;
  }
  @media (max-width: 576px) {
    td, th {
      font-size: 12px;
    }
  }

  thead {
    font-family: Roboto, serif;
    font-size: 16px;
    color: #9e9e9e;
    text-decoration: none solid rgb(158, 158, 158);
  }

  @media (max-width: 448px) {
    td, th {
      font-size: 12px;
      padding: 2px;
    }
  }
}
