<div class="book-tabs-wrapper">
  <div class="book-tabs">
    <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3  blue'" (getActiveTab)="changeTab($event)">
      <mdb-tab heading="ДЕТАЉНО">
        <div class="row">
          <div class="col-12 mt-2">
            <dl class="row">
              <ng-container *ngIf="book.authors && book.authors.length > 0 && book.authors[0].trim() !== ''">
                <dt class="col-sm-2">Аутори</dt>
                <dd class="col-sm-10">
                  <a (click)="linkedSearch('authors', book.authors[0])" style="cursor: pointer;color: darkblue; text-decoration: underline">
                  {{book.authors}}
                  </a>
                </dd>
              </ng-container>

              <ng-container *ngIf="book.otherAuthors && book.otherAuthors.length > 0">
                <dt class="col-sm-2">Остали аутори</dt>
                <dd class="col-sm-10">
                  <a *ngFor="let oa of book.otherAuthors"
                     (click)="linkedSearch('authors', oa)"
                  >
                    <span
                      style="cursor: pointer;color: darkblue; text-decoration: underline">
                      {{oa}}
                    </span>,&nbsp;
                  </a>
                </dd>
              </ng-container>

              <ng-container *ngIf="book.title">
                <dt class="col-sm-2">Наслов</dt>
                <dd class="col-sm-10">{{book.title}}</dd>
              </ng-container>

              <ng-container *ngIf="book | recordFormat:RecordFormatType.CONTAINS_856_URL">
                <dt class="col-sm-2" >URL</dt>
                <dd class="col-sm-10"><span [innerHTML]="book | recordFormat:RecordFormatType.CONTAINS_856_URL"></span></dd>
              </ng-container>

              <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_PUBLISHER_INFO">
                <dt class="col-sm-2" >Издавач</dt>
                <dd class="col-sm-10">{{book | recordFormat:RecordFormatType.FORMAT_PUBLISHER_INFO}}</dd>
              </ng-container>

              <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_BOOK_PHYSICAL_INFO">
                <dt class="col-sm-2" >Физички опис</dt>
                <dd class="col-sm-10">{{book | recordFormat:RecordFormatType.FORMAT_BOOK_PHYSICAL_INFO}}</dd>
              </ng-container>

              <ng-container *ngIf="book.notes">
                <dt class="col-sm-2">Напомене</dt>
                <dd class="col-sm-10">{{book.notes}}</dd>
              </ng-container>

              <ng-container *ngIf="book.isbn">
                <dt class="col-sm-2">ISBN</dt>
                <dd class="col-sm-10">{{book.isbn}}</dd>
              </ng-container>

              <ng-container *ngIf="book.issn">
                <dt class="col-sm-2">ISSN</dt>
                <dd class="col-sm-10">{{book.issn}}</dd>
              </ng-container>

              <ng-container *ngIf="book.udk">
                <dt class="col-sm-2">UDK</dt>
                <dd class="col-sm-10">{{book.udk}}</dd>
              </ng-container>

              <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_FIRST_SIGNATURE_INFO">
                <dt class="col-sm-2">Сигнатура</dt>
                <dd class="col-sm-10">
                  {{book | recordFormat:RecordFormatType.FORMAT_FIRST_SIGNATURE_INFO}}
                  <span [ngx-scroll-to]="'#end'"><strong style="color: darkblue; cursor: pointer; font-size: 13px;">...остале</strong></span>
                </dd>
              </ng-container>

            </dl>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="ISBD" *ngIf="book.isbdHtml && book.isbdHtml != ''">
        <div class="row">
          <div class="col-12 mt-2 isbd" [innerHTML]="book.isbdHtml">
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="UNIMARC">
        <div class="row">
          <div class="col-12 mt-2" *ngIf="book.record && book.record.fields">
            <p class="unimarc">
              <ng-container *ngFor="let f of book.record.fields">
                <strong>{{f.name}}</strong>
                {{f | makeIndicator}}
                <ng-container *ngFor="let sf of f.subfields">
                  <strong>[{{sf.name}}]</strong>{{sf.content}}&nbsp;
                  <ng-container *ngIf="sf.secField">
                    <strong>{{</strong>
                    <strong>{{sf.secField.name}}</strong>
                    {{sf.secField | makeIndicator}}&nbsp;
                    <ng-container *ngFor="let secSf of sf.secField.subfields">
                      <strong>{{secSf.name}}</strong>&nbsp;{{secSf.content}}
                    </ng-container>
                    <strong>}}</strong>
                  </ng-container>
                </ng-container>
                <br/>
              </ng-container>
            </p>
          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
  </div>
</div>
