@import '../../../../styles/common';

.book-card2-container-wrapper {
  border-radius: 3px;
  max-width: 210px;
  @include fluidType(width, 180, 210);

  img {
    width: 100%;
    height: auto;
    max-width: 210px;
  }

  .book-title {
    text-align: center;
    margin-top: 30px;
  }

  .book-authors {
    text-align: center;
    margin-top: 30px;
  }

  .book-pub-info {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
