<div class="book-card2-container-wrapper view overlay " xmlns="http://www.w3.org/1999/html">
  <a [routerLink]="['/book', book.id]">
    <img data-src="{{book.imageUrl}}" class="img-fluid slideInRight"
         onError="this.src='../../../../assets/book/nocover.jpg';"
          alt="{{book.title}}">
    <div class="mask pattern6 waves-effect waves-light rgba-white-strong overlay-content">
      <h2 class="book-title black-text" >
        <u><b>{{book.title}}</b></u>
      </h2>
      <h3 class="book-authors black-text" >
        <span *ngFor="let a of book.authors">
          <i><u>{{a}}</u></i><br>
        </span>
      </h3>
      <p class="book-pub-info">
        <span class="black-text">{{book.publisher}}</span>,
        <span class="black-text"> {{book.year}}</span>
      </p>
    </div>
  </a>
</div>
