@import '../../../../styles/common';

.book-card2-container-wrapper {
  border-radius: 3px;
  max-width: 121px;
  @include fluidType(width, 100, 121);

  img {
    width: 100%;
    height: auto;
    max-width: 121px;
  }

  .book-title {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }

  .book-authors {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }

  .rgba-white-strong, .rgba-white-strong:after {
    background-color: rgba(255, 255, 255, 0.85) !important;
  }

  .book-pub-info {
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
