<div class="row my-5">
  <div class="col-md-12">
    <div class="card card-cascade narrower">
      <div class="view view-cascade gradient-card-header primary-color">
        <h4 class="h4-responsive">Лични подаци</h4>
      </div>
      <div class="card-body card-body-cascade text-center">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{formatedSigningUntil ? ('Активна до:       ' + formatedSigningUntil ) : 'Истекла'}}" [disabled]='true' type="text" id="form0" class="form-control">
                <label class="active disabled" for="form0">Статус чланарине</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.email}}" [disabled]='true' type="text" id="form11" class="form-control">
                <label class="active disabled" for="form11">Email</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.firstName}}" [disabled]='true' type="text" id="form12" class="form-control">
                <label class="active disabled" for="form12">Име</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.lastName}}" [disabled]='true' type="text" id="form13" class="form-control">
                <label class="active disabled" for="form13">Презиме</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.address}}" [disabled]='true' mdbInputDirective type="text" id="form21" class="form-control">
                <label for="form21">Адреса 1</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.secAddress}}" mdbInputDirective [disabled]='true' type="text" id="form22" class="form-control">
                <label for="form22">Адреса 2</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.city}}" type="text" id="form31" [disabled]='true' class="form-control">
                <label class="active disabled" for="form31">Место</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.zip}}" type="text" id="form32" [disabled]='true' class="form-control">
                <label class="active disabled" for="form32">ПТТ број</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <input placeholder="{{(userState | async)?.userData?.country}}" type="text" mdbInputDirective [disabled]='true' id="form33" class="form-control">
                <label for="form33">Држава</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p class="text-right">
  За измену личних података потребно је да се јавите у Вашу библиотеку.
</p>
