.search-top-nav-component-wrapper {
  display: flex;
  justify-content: space-between;

  #navbarCollapse {
    height: auto !important;
  }

  .asc-btn {
    padding-left: 10px;
    padding-right: 10px;
  }

  .no-caret::after {
      display: none !important;
  }

  @media (max-width: 576px) {
    button {
      padding: 10px !important;
    }
  }

  @media (max-width: 408px) {
    button {
      padding: 6px !important;
    }
  }

  @media (max-width: 360px) {
    button {
      padding: 8px 5px !important;
      font-size: 10px !important;
    }
  }

}
