.search-top-nav-component-wrapper {
  #navbarCollapse {
    height: auto !important;
  }

  .asc-btn {
    padding-left: 2px;
    padding-right: 2px;
  }

  .no-caret::after {
      display: none !important;
  }
}
