.carousel-multi-item .col-md-3 {
  float: left;
  width: 25%;
  max-width: 100%;
}

.left-carousel-button {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translate(0, -50%);
}

.right-carousel-button {
  position: absolute;
  right: 0;
  top: 45%;
  transform: translate(0, -50%);
}

.title {
  text-align: center;
  padding-bottom: 30px;
}

.carousel-wrapper {
  padding-left: 10%;
  //padding-right: 8%;
}

//.single-carousel {
//  padding-left: 16%;
//}
