.book-star-rating-wrapper {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 700px) {
    .star {
      font-size: 2rem !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .star {
      font-size: 1.5rem !important;
    }
  }
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #bb112e;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #bb112e;
  }
}
