<div class="book-star-rating-wrapper">
  <ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100" style="cursor: pointer">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
  </ng-template>
  <div>
    <ngb-rating [(rate)]="starRate" [starTemplate]="t" max="5" (rateChange)="rateBook($event)"></ngb-rating>
  </div>
  <div class="avg-rating">
    <span *ngIf="bookRating" >
      Рејтинг:&nbsp;&nbsp;{{bookRating ? bookRating.avgRating : 'Књига нема ни један глас'}} / {{bookRating ? bookRating.totalRates : 0}}
    </span>
  </div>
</div>
