.book-star-rating-wrapper {
  display: flex;
  flex-direction: row;
  .avg-rating {
    display: flex;
    align-self: center;
    margin-left: 12px;
  }
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #00b2d1;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #00b2d1;
  }
  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    .avg-rating {
      align-self: center;
    }
    .stars {
      align-self: center;
    }
  }
  @media only screen and (max-width: 700px) {
    .star {
      font-size: 2rem !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .star {
      font-size: 1.5rem !important;
    }
  }
}
