.app-page-wrapper {
  toast-container > mdb-toast-component.opacity,
  toast-container > mdb-toast-component.opacity > div {
    opacity: 1 !important;
  }

  main {
    position: relative;
    padding: 0;
    display: flex;
    flex-flow: column;
    margin: 0;
    //height: 100vh;
    width: 100%;
  }

  footer {
    //position: absolute;
    //margin-bottom: -100px;
    bottom: 0;
    width: 100%;
    left:0;
  }
}
