<div class="app-page-wrapper fill-height-or-more" id="app-page-wrapper">
  <top-menu></top-menu>
  <div class="page-container">
    <main>
      <div class="container-fluid py-4">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  <button backToTopButton class="btn btn-floating btn-large waves-light animated d-none back-to-top-button"
          mdbPageScroll
          mdbWavesEffect style="right:35px; bottom:35px;"
          [ngx-scroll-to]="'#app-page-wrapper'">
    <i class="fas fa-arrow-up" style="color: black;"></i>
  </button>
    <footer class="font-small" style="height: 65px;">
      <div class="text-center py-3 ">
        <span style="color: #9e9e9e;">Ⓒ </span>
        <a href="http://ftninformatika.com/" style="color: black"> БИСИС5</a>
      </div>
    </footer>
</div>
