.app-page-wrapper {
  main {
    position: relative;
    padding: 0;
    margin: 0;
    //height: 100%;
    width: 100%;
  }

  footer {
    //position: absolute;
    //margin-bottom: -100px;
    bottom: 0;
    width: 100%;
    left:0;
  }
}
