.upload-description-cover-page-wrapper {
  .desc-and-cover {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 440px;

    .description {
      //background: darkred;
      flex-grow: 3;
      .md-form {
        textarea {
          height: 300px;
          max-height: 300px;
          min-height: 300px;
          background: #ffffff;
        }
      }
    }
    .file-upload {
      //background: #7e94ff;
      padding-top: 25px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      input[type="file"] {
        display: none;
      }
      .custom-file-upload {
        border: 1px solid #40c6c6;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
      }

      .dashed-border {
        border-radius: 5px;
        border: black dashed ;
      }

      .drag-container {
        height: 290px;
        width: 200px;
      }

      .drag-text {
        padding-top: 50px;
        font-size: 28px;
        font-weight: 600;
      }

      .file-upload-panel {
        background: #7e94ff;
      }
    }
  }
}
