<div class="upload-description-cover-page-wrapper" *ngIf="book">
    <h4 align="center" *ngIf="book.isbn">ISBN: {{book.isbn}}</h4>
    <h4 align="center" *ngIf="book.issn">ISSN: {{book.issn}}</h4>
    <div class="desc-and-cover ml-2 mr-12">
      <div class="description">
        <div class="md-form">
          <textarea type="text" id="form7" class="md-textarea form-control"
                    [(ngModel)]="bookDescription" mdbInput></textarea>
          <label for="form7" class="text-area-title">Опис књиге</label>
        </div>
      </div>
      <div class="file-upload">
        <div><h5 align="center">Слика корица</h5></div>
        <div class="view overlay" style="width: 220px">
          <span style="color:red;" *ngIf="message">{{message}}</span>
<!--          No picture container-->
          <div class="pattern6 waves-effect waves-light rgba-blue-strong drag-container dashed-border" *ngIf="!book.imageUrl && !imgURL" (drop)="onDrop($event)">
            <p class="drag-text" align="center">
              Кликни или превуци датотеку са сликом
            </p>
          </div>
          <div class="drag-container">
            <img src="{{book.imageUrl}}" height="290" width="200" *ngIf="!imgURL && book.imageUrl">
            <img [src]="imgURL" height="290" width="200" *ngIf="imgURL">
          </div>
<!--          Overlay-->
          <div class="file-upload-panel overlay-content" (click)="file.click()" (drop)="onDrop($event)"
               (dragover)="onDragOver($event)">
            <div class="mask pattern6 waves-effect waves-light rgba-white-strong drag-container dashed-border">
              <p class="drag-text" align="center">
                Кликни или превуци датотеку са сликом
              </p>
            </div>
          </div>

        </div>
        <div class="mt-4" align="center">
          <label for="file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Учитај слику
          </label>
          <input id="file" #file class="mb-2" type="file" accept='image/*' (change)="previewImage(file.files)" />
        </div>
      </div>
    </div>
  <div align="center" class="mb-4 mt-2">
    <button mdbBtn type="button" color="light-blue" mdbWavesEffect [routerLink]="['/book', lib, book._id]">Назад</button>
    <button mdbBtn type="button" color="dark-green" mdbWavesEffect (click)="saveChanges()">Сачувај промене</button>
  </div>
  <h5 align="center">Детаљи записа</h5>
  <book-tabs *ngIf="book" [book]="book"></book-tabs>
</div>
