.upload-description-cover-page-wrapper {
  .desc-and-cover {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 400px;
    margin-right: 24px;

    .description {
      //background: darkred;
      flex-grow: 3;
      .md-form {
        textarea {
          height: 320px;
          max-height: 320px;
          min-height: 320px;
        }
      }
    }
    .file-upload {
      //background: #7e94ff;
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      input[type="file"] {
        display: none;
      }
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
      }
    }
  }
}
