.book-result-brief-wrapper {
  background-color: #f5f5f5;
  border-radius: 10px;
  .card {
    box-shadow: unset !important;
    padding: 10px 10px 10px 10px !important;
  }

  .book-title {
    //width: 307px;
    height: 33px;
    font-family: Yeseva One, serif;
    font-size: 28px;
    color: #212121;
    text-decoration: none solid rgb(33, 33, 33);
  }

  .book-author {
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    text-decoration: none solid rgb(33, 33, 33);
  }

  .fixed-height {
    height: 270px;
  }

  .fixed-width {
    max-width: 150px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }

  .book-cover > img {
    width: 200px;
    border-radius: 5px;
  }

  .reserve-shelf-buttons {
    width: 152px;
    height: 48px;
    line-height: 48px;
    //padding: 0 0 0 24px;
    border-radius: 4px;
    background-color: #00b2d1;
    background-size: cover;
    font-family: Roboto, serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    a > div {
      padding-left: 24px;
    }
    &:hover {background-color: #009cb8}
  }

  .on-shelf-btn {
    margin-top: 8px;
    margin-right: 16px;
    background-color: #e0e0e0;
    color: #212121;
    text-decoration: none solid rgb(33, 33, 33);
    &:hover {background-color: #c7c7c7}
  }

  .publisher {
    text-align: left;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
  }
// Big screens---------------------------------------------
  @media screen and (max-width: 1600px) {
    .book-title {
      font-family: Yeseva One, serif;
      font-size: 26px;
      color: #212121;
      text-decoration: none solid rgb(33, 33, 33);
    }
  }

// --------------------------------------------------------

  @media (max-width: 980px) {
    h4 {font-size: 19px}
    h5 {font-size: 17px}
    span {font-size: 17px}
    .reserve-shelf-buttons {
      button {
        width: 130px;
        span { font-size: 10px; }
      }
    }
    add-to-collection-button {
      .add-to-coll-btn {
        width: 133px;
        font-size: 10px;
      }
    }
  }

  @media (max-width: 900px) {
    h4 {font-size: 18px}
    h5 {font-size: 16px}
    span {font-size: 16px}
    .book-cover > img {width: 180px}
    .reserve-shelf-buttons {
      button {
        width: 130px;
        span { font-size: 10px; }
      }
    }
    add-to-collection-button {
      .add-to-coll-btn {
        width: 133px;
        font-size: 10px;
      }
    }
  }

  @media (max-width: 576px) {
    h4 {font-size: 16px}
    h5 {font-size: 14px}
    span {font-size: 13px}
    .book-cover > img {width: 100px}
    .fixed-height {height: 200px}
    .publisher {
      font-size: 11px;
      margin-bottom: 20px;
    }
    .pub-type {font-size: 11px}
    .reserve-shelf-buttons {
      button {
        width: 130px;

        span { font-size: 10px; }
      }
    }
    add-to-collection-button {
      .add-to-coll-btn {
        width: 133px;
        font-size: 10px;
      }
    }
  }

  @media (max-width: 476px) {
    h4 {font-size: 15px}
    h5 {font-size: 13px}
    span {font-size: 13px}
    .book-cover>img {width: 100px}
    .fixed-height {height: 185px}
    .publisher {
      font-size: 10px;
      margin-bottom: 18px;
    }
    .pub-type {font-size: 9px}
    .reserve-shelf-buttons > button {
      display: none;
    }
    add-to-collection-button {display: none;}
  }

  @media (max-width: 420px) {
    h4 {font-size: 13px}
    h5 {display: none}
    span {font-size: 11px}
    .book-cover>img {width: 80px}
    .fixed-height {height: 170px}
    .publisher {
      font-size: 9px;
      margin-bottom: 16px;
    }
    .pub-type {font-size: 9px}
    .reserve-shelf-buttons > button {
      display: none;
    }
    add-to-collection-button {display: none;}
  }

}
