.book-result-brief-wrapper {
  .card {
    box-shadow: unset !important;
  }

  .fixed-height {
    height: 270px;
  }

  .fixed-width {
    max-width: 150px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }

  .book-cover > img {
    width: 200px;
  }

  .reserve-shelf-buttons {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 0;
      margin-right: 0;
      height: 60px;
      width: 180px;
      font-size: 16px;
    }
  }


  .publisher {
    text-align: left;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
  }


  @media (max-width: 980px) {
    .reserve-shelf-buttons > button {
      height: 45px;
      width: 160px;
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    h4 {font-size: 17px}
    h5 {font-size: 15px}
    span {font-size: 15px}
    .reserve-shelf-buttons > button {
      height: 42px;
      width: 80px;
      span {
        display: none;
      }
    }
    .book-cover > img {width: 100px}
    .fixed-height {height: 200px}
    .publisher {
      font-size: 11px;
      margin-bottom: 20px;
    }
    .pub-type {font-size: 11px}

  }

  @media (max-width: 476px) {
    h4 {font-size: 16px}
    h5 {font-size: 14px}
    span {font-size: 14px}
    .book-cover>img {width: 90px}
    .fixed-height {height: 185px}
    .publisher {
      font-size: 10px;
      margin-bottom: 18px;
    }
    .pub-type {font-size: 10px}
    .reserve-shelf-buttons > button {
      height: 38px;
      width: 60px;
      span {
        display: none;
      }
    }
  }

  @media (max-width: 420px) {
    h4 {font-size: 14px}
    h5 {display: none}
    span {font-size: 12px}
    .book-cover>img {width: 80px}
    .fixed-height {height: 170px}
    .publisher {
      font-size: 9px;
      margin-bottom: 16px;
    }
    .pub-type {font-size: 9px}
  }

}
