<div class="active-lendings-page-wrapper">
  <div class="">
    <h2 align="center" class="mb-2" i18n="@@trenutnoNaZaduzenju">Тренутно на задужењу</h2>
    <ng-container *ngIf="lendingsReport">
      <table mdbTable class="table table-responsive-md table-responsive-sm">
        <thead >
        <tr>
          <th scope="col">
            <a (click)="sortBy('property4')" i18n="@@naslovIcon">Наслов
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col">
            <a (click)="sortBy('property3')" i18n="@@autorIcon">Аутор
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col">
            <a (click)="sortBy('property1')" i18n="@@iznajmioIcon">Изнајмио
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col">
            <a (click)="sortBy('property7')" i18n="@@rokVracanjaIcon">Рок враћања
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col">
            <a (click)="sortBy('property5')" i18n="@@inventarniBrojIcon">Инвентарни број
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col">
            <a (click)="sortBy('property10')" i18n="@@lokacijaIcon">Локација
              <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
            </a>
          </th>
          <th scope="col" i18n="@@produziZaduzenje">
            Продужи задужење
          </th>
        </tr>
        </thead>
        <tbody >
        <tr mdbTableRow *ngFor="let r of lendingsReport"  >
          <th scope="row" class="highliht" [mdbTooltip]="r.property4" [routerLink]="['/book', lib, r.property6]">
            <strong>
              <b>
                {{r.property4 | shortenString: 30}}
              </b>
            </strong>
          </th>
          <td [mdbTooltip]="r.property3" class="highliht" [routerLink]="['/book', lib, r.property6]">{{r.property3 | shortenString: 20}}</td>
          <td>{{r.property1 | shortenString: 20}}</td>
          <td>{{r.property7 | shortenString: 20}}</td>
          <td>{{r.property5 | shortenString: 20}}</td>
          <td>{{r.property10 }}</td>
          <td *ngIf="!r.property8 && !r.maxDatePassed">
            <a style="color: #00b2d1;font-weight: 600;" (click)="prolongLending(r.property9)" i18n="@@produzi">
              Продужи
            </a>
          </td>
          <td *ngIf="!r.property8 && r.maxDatePassed">
            <span style="color: orangered;" i18n="@@prosaoRokZaVracanje">
              Прошао крајњи рок за враћање
            </span>
          </td>
          <td *ngIf="r.property8">
            <span style="color: forestgreen;" i18n="@@vecProduzeno">
              Већ продужено
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
