<div class="change-password-page-wrapper">
  <mdb-card>
    <mdb-card-header class="form-header text-center py-4">
      <h5>
        Промена лозинке
      </h5>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">
      <form class="text-center" style="color: #757575;">
        <p class="mt-2">
          Унесите нову лозинку
        </p>
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword1" class="form-control" mdbInput [(ngModel)]="this.pass1" name="pass1" (ngModelChange)="pass1Changed.next($event)">
          <label for="materialLoginFormPassword1">Лозинка</label>
        </div>
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword2" class="form-control" mdbInput [(ngModel)]="this.pass2" name="pass2" (ngModelChange)="pass2Changed.next($event)">
          <label for="materialLoginFormPassword2">Поновите лозинку</label>
        </div>
        <button mdbBtn rounded="true" block="true"
                class="my-4 waves-effect z-depth-0"
                outline="false"
                [ngClass]="isValid ? 'btn-success' : 'btn-warning'"
                type="submit" (click)="changePassword()" >Промени лозинку</button>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>
