<button id="btn-add-library" type="button" mdbBtn color="default" data-toggle="modal" data-cy="new-library"
        data-target="#basicExample" (click)="onBtnCreteNewLocation();createModal.show()" mdbWavesEffect>Нова локација
</button>

<div class="text-center admin-page-title">
  <h5>БИБЛИОТЕКЕ</h5><br>
</div>

<main>
  <div class="row justify-content-center" *ngFor="let library of libraries | paginate:
          {id: 'paginatorId',
          itemsPerPage: pageOptions?.pageSize,
          currentPage: pageOptions?.currentPage,
          totalItems: resultPage?.totalElements};">
    <div class="col-md-8">
      <div class="media-body">
        <hr>
        <div class="table-column-btns">
          <div class="div-edit" mdbTooltip="Измени" placement="left" style="cursor: pointer"
               (click)="setEditLibrary(library)"
               data-cy="edit-btn">
            <i id="edit-icon" class="fas fa-edit orange-text fa-2x"></i>
          </div>
          <div class="div-delete" mdbTooltip="Избриши" placement="left" style="cursor: pointer"
               (click)="setLibraryForDelete(library);  deleteModal.show();">
            <i class="fas fa-trash red-text fa-2x"></i>
          </div>
        </div>
        <h5 class="media-heading title">{{library.name}}</h5>

        <table mdbTable borderless="true">
          <tbody>
          <tr>
            <td style="width: 35%"><i class="fas fa-map-marker-alt"></i>{{library.address}}</td>
            <td style="width: 30%"><i class="fas fa-clock"></i>{{ library.workingHours.split(',')[0]?.trim()}}</td>
            <td style="width: 35%"><i class="fas fa-map-marked-alt"></i>long: {{library.longitude}} &nbsp;&nbsp; &nbsp;&nbsp;
              lat: {{library.latitude}}</td>
          </tr>
          <tr>
            <td><i class="fas fa-phone-alt"></i>{{library.phone}}</td>
            <td><i class="fas fa-clock"></i>{{ library.workingHours.split(',')[1]?.trim()}}</td>
            <td><i class="fas fa-globe"></i><a href="{{library.webSite}}" target="_blank">{{library.webSite}}</a></td>

          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i>{{library.email}}</td>
            <td><i class="fas fa-clock"></i>{{ library.workingHours.split(',')[2]?.trim()}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<pagination-controls [id]="'paginatorId'"
                     [maxSize]="5"
                     [directionLinks]="true"
                     [responsive]="true"
                     [previousLabel]="'Претходна'"
                     [nextLabel]="'Следећа'"
                     (pageChange)="onPageChange($event)"
                     *ngIf="libraries">
</pagination-controls>


<div mdbModal #createModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="closeDialog()"
     data-mdb-target="#libraryModal">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 font-weight-bold">
          <i class="fas fa-map-marker-alt"></i>
          Локација
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="createModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-name"
                 class="form-control"
                 [formControl]="name"
                 [(ngModel)]="library.name"
                 data-cy="name"
                 mdbInput mdbValidate>
          <label for="orangeForm-name">* Назив</label>
          <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Назив је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-address"
                 class="form-control"
                 [formControl]="address"
                 [(ngModel)]="library.address"
                 data-cy="address"
                 mdbInput mdbValidate>
          <label for="orangeForm-address">* Адреса</label>
          <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
            Адреса је обавезна
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-longitude"
                 class="form-control"
                 [formControl]="longitude"
                 [(ngModel)]="library.longitude"
                 data-cy="longitude"
                 mdbInput mdbValidate>
          <label for="orangeForm-longitude">* Лонгитуда</label>
          <mdb-error *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)">
            Лонгитуда је обавезна. Унесите број
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-latitude"
                 class="form-control"
                 [formControl]="latitude"
                 [(ngModel)]="library.latitude"
                 data-cy="latitude"
                 mdbInput mdbValidate>
          <label for="orangeForm-latitude">* Латитуда</label>
          <mdb-error *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)">
            Латитуда је обавезна. Унесите број
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-phone"
                 class="form-control"
                 [formControl]="phone"
                 [(ngModel)]="library.phone"
                 data-cy="phone"
                 mdbInput mdbValidate>
          <label for="orangeForm-phone">* Телефон</label>
          <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            Телефон је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-email"
                 class="form-control"
                 [formControl]="email"
                 [(ngModel)]="library.email"
                 data-cy="email"
                 mdbInput mdbValidate>
          <label for="orangeForm-email">* Е-mail</label>
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
            E-mail је обавезно унети у правилном формату
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-webSite"
                 class="form-control"
                 [formControl]="webSite"
                 [(ngModel)]="library.webSite"
                 data-cy="webSite"
                 mdbInput mdbValidate>
          <label for="orangeForm-webSite">* Website</label>
          <mdb-error *ngIf="webSite.invalid && (webSite.dirty || webSite.touched)">
            Website је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="text"
                 id="workingHours"
                 class="form-control"
                 [formControl]="workingHours"
                 [(ngModel)]="library.workingHours"
                 data-cy="workingHours"
                 mdbInput mdbValidate>
          <label for="workingHours">* Радно време</label>
          <mdb-error
            *ngIf="workingHours.invalid && (workingHours.dirty || workingHours.touched)">Радно време је обавезно
          </mdb-error>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="onBtnSaveLocation();"
                data-cy="save-library-btn">
          Сачувај
        </button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Затвори" (click)="deleteModal.hide(); ">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title center" id="myModalLabel">Брисање библиотеке</h4>
      </div>
      <div class="modal-body">
        <label>Да ли сте сигурни да желите да обришете библиотеку <i>{{libraryToDelete?.name}}</i> ?</label>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close"
                (click)="deleteModal.hide();">Затвори
        </button>
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Delete"
                (click)="delete(); deleteModal.hide()">Избриши
        </button>
      </div>
    </div>
  </div>
</div>
