<div class="search-filters-wrapper">
  <mdb-card class="mr-4 mb-4 result-filter">
    <mdb-card-body>
      <div class="text-center" *ngIf="!filtersLoaded">
        <h5 i18n="@@ucitavanjeFiltera">Учитавање филтера</h5>
        <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ng-container *ngIf="filtersLoaded">
        <div class="filters-title">
          <h1 i18n="@@filteri">Филтери</h1>
        </div>
        <mdb-accordion [multiple]="true">
          <mdb-accordion-item [collapsed]="false" *ngIf="filters.locations && filters.locations.length > 0">
            <mdb-accordion-item-head i18n="@@lokacija">Локација</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="locationForm" >
                <mdb-checkbox *ngFor="let i of filters.locations" formControlName="{{i.filter.value}}"
                  [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                  (change)="selectionChanged(i.filter, 0)"
                >
                  {{(i.filter.label | shortenString:25) + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
                <div *ngIf="subLocationsExist" class="more-filter-values">
                  <span (click)="moreFilters(filters.locations, 'Локације', 0);basicModal.show();" i18n="@@prikaziPoBibliotekama">
                    Прикажи по библиотекама
                  </span>
                </div>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="collapsedFilter[1]" *ngIf="filters.pubTypes && filters.pubTypes.length > 0">
            <mdb-accordion-item-head i18n="@@vrstaGradje">Врста грађе</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="pubTypeForm" >
                <mdb-checkbox *ngFor="let i of filters.pubTypes" formControlName="{{i.filter.value}}"
                              [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                              (change)="selectionChanged(i.filter, 1)">
                  {{i.filter.label + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="collapsedFilter[2]" *ngIf="filters.authors && filters.authors.length > 0">
            <mdb-accordion-item-head i18n="@@autor">Аутор</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="authorsForm">
                <mdb-checkbox *ngFor="let i of filters.authors | slice:0:15" formControlName="{{i.filter.value}}"
                              [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                              (change)="selectionChanged(i.filter, 2)">
                  {{(i.filter.label | shortenString: 25) + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
                <div *ngIf="filters.pubYears.length > 15" (click)="moreFilters(filters.authors, 'Аутори', 2);basicModal.show();" class="more-filter-values">
                  <span i18n="@@prikaziSve">
                    Прикажи све...
                  </span>
                </div>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="collapsedFilter[3]" *ngIf="filters.languages && filters.languages.length > 0">
            <mdb-accordion-item-head i18n="@@jezik">Језик</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="languageForm" >
                <mdb-checkbox *ngFor="let i of filters.languages" formControlName="{{i.filter.value}}"
                              [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                              (change)="selectionChanged(i.filter, 3)">
                  {{i.filter.label + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="collapsedFilter[4]" *ngIf="filters.pubYears && filters.pubYears.length > 0">
            <mdb-accordion-item-head i18n="@@godina">Година</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="pubYearForm">
                <mdb-checkbox *ngFor="let i of filters.pubYears | slice:0:15" formControlName="{{i.filter.value}}"
                              [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                              (change)="selectionChanged(i.filter, 4)">
                  {{i.filter.label + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
                <div *ngIf="filters.pubYears.length > 15" (click)="moreFilters(filters.pubYears, 'Година', 4);basicModal.show();" class="more-filter-values">
                  <span i18n="@@prikaziSve">
                    Прикажи све...
                  </span>
                </div>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="collapsedFilter[5]" *ngIf="filters.subjects && filters.subjects.length > 0">
            <mdb-accordion-item-head i18n="@@predmet">Предмет</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              <form [formGroup]="subjectForm" >
                <mdb-checkbox *ngFor="let i of filters.subjects | slice:0:15" formControlName="{{i.filter.value}}"
                              [checked]="i.filter.checked" [(ngModel)]="i.filter.checked"
                              (change)="selectionChanged(i.filter, 6)" [mdbTooltip]="i.filter.label + ' (' + i.filter.count + ')'">
                  {{(i.filter.label | shortenString:25) + ' (' + i.filter.count + ')'}}
                </mdb-checkbox>
                <div *ngIf="filters.subjects.length > 15" (click)="moreFilters(filters.subjects, 'Предмет', 6);basicModal.show();" class="more-filter-values">
                  <span i18n="@@prikaziSve">
                    Прикажи све...
                  </span>
                </div>
              </form>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

        </mdb-accordion>
      </ng-container>
    </mdb-card-body>
  </mdb-card>

  <div style="overflow-y: auto; background: #eeeeee" mdbModal #basicModal="mdbModal" class="modal fade top" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
         aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-full-height modal-top" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Затвори" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">{{filtersMoreLabel}}</h4>
        </div>
        <div class="modal-body">
          <list-of-filters [filters]="filtersToExpand" [type]="activeFilterModal" (filterChosen)="selectionChanged($event.item, $event.type);basicModal.hide();"></list-of-filters>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect i18n="@@zatvori">Затвори</button>
        </div>
      </div>
    </div>
  </div>
</div>
