/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeeee;
}

.no-box-shadow {
  background-color: transparent !important;
  box-shadow: unset !important;
}

.no-box-shadow > div {
  background-color: transparent !important;
  box-shadow: unset !important;
}

.container.card {
  background-color: transparent !important;
}

.carousel-item.active {
  display: flex !important;
}

div.book-tabs {
  div.container-fluid {
    padding-left: 0px;
    padding-right: 16px;

    ul.nav {
      background-color: transparent;
      border-bottom: 1px black solid;
    }

    .nav.classic-tabs {
      margin: 0;
      li a {
        padding: 20px 24px !important;
        background-color: transparent;
        color: black;
      }
      li a.active {
        color: black !important;
      }
    }

    p strong {
      font-weight: bold;
    }
  }
}

.shelf-container .card {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.result-filter {
  background-color: transparent;
}

.carousel-transparent > * > .card {
  background-color: transparent;
}
