#calendar-icon {
  margin-right: 10px;
}

.file-path {
  margin-left: 40px;
}

.file-field {
  margin-bottom: 100px;
}

#file {
  display: none;
}

.custom-file-upload {
  border: 1px solid #40c6c6;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 50px;
}

#btn-add-event {
  float: right;
  cursor: pointer;
}

th, td {
  height: 80px;
  width: 160px;
  text-align: justify;
  vertical-align: middle;
}

.td-image, .td-date, .th-date {
  text-align: center;
}

.table-row-btns {
  display: inline;
  margin-left: 20px;
}
