<button id="btn-add-event" type="button" mdbBtn color="default" rounded="true" data-toggle="modal"
        data-target="#basicExample" (click)="createModal.show()" mdbWavesEffect>Додај догађај
</button>


<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
        <label for="search-input">Претражи</label>
      </div>
    </div>
    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
      <tr>
        <th class="th-{{sortFields[i]}}" *ngFor="let head of headElements; let i = index" [mdbTableSort]="events"
            [sortBy]="sortFields[i]" scope="col">{{head | titlecase}}
          <mdb-icon *ngIf="head !== ''" fas icon="sort"></mdb-icon>
        </th>
      </tr>
      </thead>
      <tbody #row>
      <tr *ngFor="let ev of events; let i = index">
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="td-image">
          <img *ngIf="!this.ev.image; else downloadedImage" src="../../../../../assets/icons/icon-72x72.png"
               height="80" width="80" alt="Фотографија">
          <ng-template #downloadedImage>
            <img src="{{this.ev.image}}" height="100" width="100" alt="Фотографија">
          </ng-template>
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="td-title">
          {{ev.title}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="td-content">
          {{ev.content}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="td-date">
          {{ev.date | date: 'dd.MM.yyyy.'}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <div class="table-row-btns" mdbTooltip="Измени" placement="left" style="cursor: pointer"
               (click)="setEditEvent(ev);">
            <i class="fas fa-edit orange-text fa-2x"></i>
          </div>
          <div class="table-row-btns" mdbTooltip="Избриши" placement="left" style="cursor: pointer"
               (click)="setEventForDelete(ev); deleteModal.show();">
            <i class="fas fa-trash red-text fa-2x"></i>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                [searchDataSource]="events">
          </mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Затвори" (click)="deleteModal.hide(); ">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title center" id="myModalLabel">Брисање догађаја</h4>
      </div>
      <div class="modal-body">
        <label>Да ли сте сигурни да желите да обришете догађај са насловом <i>{{eventToDelete?.title}}</i> ?</label>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close"
                (click)="deleteModal.hide();">Затвори
        </button>
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Delete"
                (click)="remove(); deleteModal.hide()">Избриши
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #createModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="closeDialog()" data-mdb-target="#eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          <mdb-icon id="calendar-icon" far icon="calendar-alt"></mdb-icon>
          Догађај
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text" id="orangeForm-name" class="form-control" [formControl]="title" [(ngModel)]="event.title"
                 mdbInput mdbValidate>
          <label for="orangeForm-name">* Наслов</label>
          <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)">
            Наслов је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <textarea class="md-textarea form-control " rows="1" id="content" type="text" length="120"
                    [(ngModel)]="event.content" [formControl]="content" mdbCharCounter mdbInput mdbValidate></textarea>
          <label for="content">* Садржај</label>
          <mdb-error
            *ngIf="content.invalid && (content.dirty || content.touched)">Садржај је обавезан
          </mdb-error>
        </div>

        <div class="md-form mb-4">
          <mdb-date-picker name="date" #datePicker [options]="myDatePickerOptions" [placeholder]="'* Изаберите датум'"
                           id="date" [locale]="'sr'" [formControl]="date" [(ngModel)]="event.date"  required>
          </mdb-date-picker>
          <mdb-error
            *ngIf="date.invalid && (date.dirty || date.touched)">
            Датум је обавезан
          </mdb-error>
        </div>

        <div class="file-field md-form">
          <label for="file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Изаберите фотографију
          </label>
          <input id="file" #file type="file" accept='image/*' (change)="onImageUpload(file.files)"
                 data-buttonText="Izaberite"/>
        </div>

        <div class="md-form mb-4">
          <img *ngIf="this.selectedImage && imgURL; else editingEvent"
               src="{{imgURL}}" height="100" width="100" alt="Фотографија">

          <ng-template #editingEvent>
            <img *ngIf="this.event.image; else defaultPhoto"
                 src="{{this.event.image}}" height="100" width="100" alt="Фотографија">
          </ng-template>

          <ng-template #defaultPhoto>
            <img src="../../../../../assets/icons/icon-96x96.png" height="100" width="100" alt="Фотографија">
          </ng-template>

          <input [disabled] class="file-path" type="text" placeholder="Назив фотографије"
                 [value]="this.selectedImage?.name">

        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="onBtnCreateEvent();">
          Сачувај
        </button>
      </div>
    </div>
  </div>
</div>
