<button id="btn-add-event" type="button" mdbBtn color="default" data-toggle="modal" data-cy="new-event"
        data-target="#basicExample" (click)="onBtnCreteNewFaq()" mdbWavesEffect i18n="@@dodajPitanje">Додај питање
</button>

<div class="text-center admin-page-title">
  <h5 i18n="@@najcescaPitanjaCAPS">НАЈЧЕШЋА ПИТАЊА</h5><br>
</div>

<main>
  <div class="container py-5">
    <mdb-card *ngFor="let faq of faqs | paginate:
          {id: 'paginatorId',
          itemsPerPage: pageOptions.pageSize,
          currentPage: pageOptions.currentPage,
          totalItems: resultPage?.page.totalElements}; let i = index">
      <mdb-card-header>
        {{pageOptions.pageSize * (pageOptions.currentPage - 1) + i + 1}}. {{ faq.question }}
        <div class="btns">
          <div class="edit-div" mdbTooltip="Измени" i18n-mdbTooltip="@@izmeni" placement="left" data-cy="edit-btn"
               (click)="onBtnEditFaq(faq);">
            <i id="edit-icon" class="fas fa-edit orange-text fa-2x"></i>
          </div>
          <div class="delete-div" mdbTooltip="Избриши" i18n-mdbTooltip="@@izbrisi" placement="left" data-cy="delete-btn"
               (click)="onBtnDeleteFaq(faq);">
            <i class="fas fa-trash red-text fa-2x"></i>
          </div>
        </div>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text data-cy="card-text">{{ faq.answer }}
        </mdb-card-text>
        <mdb-card-text data-cy="card-text" i18n="@@redniBrojPitanja">Редни број питања: {{ faq.index }} </mdb-card-text>
      </mdb-card-body>
    </mdb-card>

    <pagination-controls [id]="'paginatorId'"
                         [maxSize]="5"
                         [directionLinks]="true"
                         [responsive]="true"
                         previousLabel="Претходна"
                         i18n-previousLabel="@@prethodna"
                         nextLabel="Следећа"
                         i18n-nextLabel="@@sledeca"
                         (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>
</main>

<div mdbModal #createModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="createModal.hide();"
     data-mdb-target="#eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 font-weight-bold" i18n="@@pitanje">
          <mdb-icon id="question-icon" far icon="question-circle"></mdb-icon>
          Питање
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="createModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-name"
                 class="form-control"
                 [formControl]="question"
                 [(ngModel)]="faq.question"
                 data-cy="question"
                 mdbInput mdbValidate>
          <label for="orangeForm-name" i18n="@@pitanjeZvezdica">* Питање</label>
          <mdb-error *ngIf="question.invalid && (question.dirty || question.touched)" i18n="@@pitanjeJeObavezno">
            Питање је обавезно
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <textarea class="md-textarea form-control"
                    id="content"
                    type="text"
                    [(ngModel)]="faq.answer"
                    [formControl]="answer"
                    data-cy="answer"
                    mdbInput mdbValidate>
          </textarea>
          <label for="content" i18n="@@odgovorZvezdica">* Одговор</label>
          <mdb-error
            *ngIf="answer.invalid && (answer.dirty || answer.touched)" i18n="@@odgovorJeObavezan">Одговор је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <input type="number"
                 id="index"
                 class="form-control"
                 [formControl]="index"
                 [(ngModel)]="faq.index"
                 data-cy="index"
                 mdbInput mdbValidate>
          <label for="content" i18n="@@redniBrojPitanjaZvezdica">* Редни број питања</label>
          <mdb-error
            *ngIf="index.invalid && (index.dirty || index.touched)" i18n="@@redniBrojJeObavezan">Обавезно је унети редни број питања
          </mdb-error>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="onBtnSaveFaq();"
                data-cy="save-faq-btn" i18n="@@sacuvaj">
          Сачувај
        </button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Затвори" (click)="deleteModal.hide(); ">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title center" id="myModalLabel" i18n="@@brisanjePitanja">Брисање питања</h4>
      </div>
      <div class="modal-body">
        <label i18n="@@potvrdaBrisanjaPitanja">Да ли сте сигурни да желите да обришете питање <i>{{faq?.question}}</i> ?</label>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close"
                (click)="deleteModal.hide();" data-cy="delete-close-btn" i18n="@@zatvori">Затвори</button>
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Delete"
                (click)="delete(); deleteModal.hide()" data-cy="delete-submit-btn" i18n="@@izbrisi">Избриши</button>
      </div>
    </div>
  </div>
</div>
