<div class="top-menu-wrapper" [hidden]="hidden">
  <header>
    <mdb-navbar SideClass="navbar navbar-expand-md
                white navbar-light"
                [containerInside]="false">
      <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="'/'">
          <span class="full-library-name">{{(configState | async)?.libConfig?.libraryFullName}}</span>
          <span class="short-library-name">{{(configState | async)?.libConfig?.shortName}}</span>
        </a>
      </mdb-navbar-brand>
      <form class="form-inline waves-light navbar-search-form">
        <div class="md-form my-0 flex-grow-1">
<!--          <mdb-icon fas icon="search" class="search-icon " size="sm"></mdb-icon>-->
          <i class="fas fa-search search-icon small prefix"></i>
          <input #searchInput
                 id="searchInput"
                 type="text" name="searchText" class="completer-input form-control mdb-autocomplete mb-0 mr-sm-2 navbar-search-field search-field"
                 [(ngModel)]="searchText"
                 (input)="getFilteredData()"
                 (ngModelChange)="onChange()"
                 [mdbAutoCompleter]="auto"
                 (keyup.enter)="search()"
                 (focusout)="init()"
                 placeholder="Претражи..."
                 aria-label="Претражи"
                 autocomplete="off">
          <div>
            <mdb-auto-completer #auto="mdbAutoCompleter"
                                (select)="onAutoCompleteSelect($event)"
                                (mouseover)="onAutoCompleteSelect($event)"
                                (mousedown)="this.search()"
                                (keyup.enter)="this.search().then()"
                                class="auto-completer"
            >
              <mdb-option *ngFor="let pv of results | async" [value]="pv.value">
                <div class="ac-field">
                      <div>{{pv.value}}</div>
                      <div class="type ml-auto"><strong><b>[{{pv.prefName | translate}}]</b></strong></div>
                </div>
              </mdb-option>
            </mdb-auto-completer>
          </div>
        </div>
      </form>
      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-light advanced-search-button" mdbWavesEffect [routerLink]="['search/advanced-search']">
              <mdb-icon fas icon="tasks" [mdbTooltip]="'Напредна претрага'"></mdb-icon>
              <span class="adv-search-btn-text">Напредна претрага</span>
            </a>
          </li>
<!--          TODO: put change language dropdown-->
<!--          <button (click)="changeLanguage()">EN</button>-->
          <li class="nav-item dropdown" dropdown *ngIf="(user | async)?.userData != null">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light user-button">
              <mdb-icon fas icon="user"></mdb-icon>{{(user | async)?.userData?.firstName}}<span class="caret"></span>
            </a>
            <ng-container *ngIf="!kioskSubLocation">
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/profile']">Профил</a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/shelf']">Моја полица</a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/active-lendings']">Тренутно задужено</a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/history']">Историја читања</a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/active-reservations']">Резервације</a>
                <div *ngIf="(user | async)?.user?.authorities.indexOf('ROLE_ADMIN') !== -1" class="divider dropdown-divider"></div>
                <a  *ngIf="(user | async)?.user?.authorities.indexOf('ROLE_ADMIN') !== -1"
                  class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/admin-collections']">Колекције</a>
                <a  *ngIf="(user | async)?.user?.authorities.indexOf('ROLE_ADMIN') !== -1"
                    class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/admin-chat']"
                    data-cy="chat-nav-link">Питај библиотекара</a>
                <a  *ngIf="(user | async)?.user?.authorities.indexOf('ROLE_ADMIN') !== -1"
                    class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/admin-events']"
                    data-cy="event-nav-link">Догађаји</a>
                <a  *ngIf="(user | async)?.user?.authorities.indexOf('ROLE_ADMIN') !== -1"
                    class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/admin-faq']"
                    data-cy="faq-nav-link">Најчешћа питања</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['user/change-password']">Промена лозинке</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="signOut()">Одјава</a>
              </div>
            </ng-container>
          </li>
          <li class="nav-item" *ngIf="((user | async)?.userData == null) && (!(configState | async)?.libConfig?.kioskSublocation)"
              data-cy="login-btn-nav">
            <a class="nav-link waves-light sign-in-button" mdbWavesEffect [routerLink]="['user/login']">
              <mdb-icon fas icon="user-alt"></mdb-icon>Пријава
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </header>
</div>
