<div class="top-menu-wrapper">
  <header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="'/'">
          <span class="full-library-name">Библиотека града Београда</span>
          <span class="short-library-name">БГБ</span>
        </a>
      </mdb-navbar-brand>
      <form class="form-inline waves-light navbar-search-form">
        <div class="md-form my-0 flex-grow-1">
          <input type="text" name="searchText" class="completer-input form-control mdb-autocomplete mb-0 mr-sm-2 navbar-search-field"
                 [(ngModel)]="searchText"
                 (input)="getFilteredData()"
                 (ngModelChange)="onChange()"
                 [mdbAutoCompleter]="auto"
                 placeholder="Потражи..."
                 aria-label="Потражи">
          <mdb-auto-completer #auto="mdbAutoCompleter" (select)="onAutoCompleteSelect($event)">
            <mdb-option *ngFor="let book of results | async" [value]="book.id">
              <div class="d-flex flex-column">
                <strong>{{book.title}}</strong>
                <small>{{book.authors}}</small>
                <small>{{book.publisher}}, {{book.year}}.</small>
              </div>
            </mdb-option>
          </mdb-auto-completer>
        </div>
      </form>
      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item advanced-search-button">
            <a class="nav-link waves-light " mdbWavesEffect [routerLink]="['/search']"><mdb-icon fas icon="tasks"></mdb-icon>Напредна претрага</a>
          </li>
          <li class="nav-item dropdown" dropdown *ngIf="(user | async)?.userData != null">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <mdb-icon fas icon="user"></mdb-icon>{{(user | async)?.userData?.firstName}}<span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user/profile']">Профил</a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user/shelf']">Моја полица</a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user/history']">Историја члана</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user/change-password']">Промена лозинке</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="signOut()">Одјава</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="(user | async)?.userData == null">
            <a class="nav-link waves-light " mdbWavesEffect [routerLink]="['/user/login']">Пријава<mdb-icon fas icon="sign-in-alt"></mdb-icon></a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </header>
</div>
