.selected-filters-component-wrapper {
  //height: 50px;
  ////width: 98%;
  //margin-bottom: 15px;
  //background: red;
  .chip {
    background-color: #2199e8;
    color: white;
    margin-bottom: 0;
  }

  .chip:hover {
    background-color: cornflowerblue;
  }
}
