.main-page-wrapper {
  padding-left: 2.5%;
  padding-right: 2.5%;
  .kiosk-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:  Yeseva One, serif;
    font-weight: 600;
    text-align: center;
  }
}
