<!--<app-book-carousel [title]="'Нове књиге'" [books]="newBooks"></app-book-carousel>-->
<!--<book-card2 [book]="newBooks[2]"></book-card2>-->
<!--<app-book-carousel [title]="'Препоруке'" [books]="recommendedBooks"></app-book-carousel>-->
<!--<book-collection-carousel [books]="newBooks" [title]="'Неке књижурине'"></book-collection-carousel>-->
<collection-carousel [books]="newBooks" [title]="'Неке књижурине'"></collection-carousel>
<collection-carousel [books]="recommendedBooks" [title]="'Препоруке'"></collection-carousel>
