<div class="admin-collection-editor-wrapper">
  <div class="collection-present ml-4 mr-2" *ngIf="collection">
    <ng-container *ngIf="books">
      <div class="top-panel mb-2 ml-4">
        <div class="row">
          <h5>Колекција: {{collection.title}}</h5>
          <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="saveChanges()">Сачувај промене</button>
        </div>
        <div class="row">
          <mdb-checkbox>Прикажи на насловној страници
          </mdb-checkbox>
          <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="basicModal.show();">Бриши колекцију</button>
        </div>
      </div>
        <div class="books">
          <div class="book mr-2 mt-2" *ngFor="let b of books;let i = index" >
            <div class="delete" (click)="removeBook(i)"><span>Remove</span></div>
            <book-card  [book]="b" ></book-card>
            <div>
              <span (click)="shiftBook(i, i - 1)"><<</span>
              {{i + 1}}
              <span (click)="shiftBook(i, i + 1)">>></span>
            </div>
          </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!books">
      <div>
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="basicModal.show();">Бриши колекцију</button>
        <h4 class="ml-1">
          Немате ни једну књигу у одабраној колекцији.<br/> Додајте књиге из претраживања у колекцију, како би сте могли да је уређујете!
        </h4>
      </div>
    </ng-container>

    <!--  Are you sure to delete modal-->
    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Затвори" (click)="basicModal.hide(); ">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title center" id="myModalLabel">Брисање колекције</h4>
          </div>
          <div class="modal-body">
            <label>Да ли сте сигурни да желите да обришете колекцију: {{collection.title}} ?</label>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal.hide();" >Затвори</button>
            <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Delete" (click)="deleteBook(collection._id)">Обриши</button>
          </div>
        </div>
      </div>
  </div>

    <!--  TODO - save changes modal-->
<!--    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"-->
<!--         aria-hidden="true">-->
<!--      <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <button type="button" class="close pull-right" aria-label="Затвори" (click)="basicModal.hide(); ">-->
<!--              <span aria-hidden="true">×</span>-->
<!--            </button>-->
<!--            <h4 class="modal-title center" id="myModalLabel">Брисање колекције</h4>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <label>Да ли сте сигурни да желите да обришете колекцију: {{collection.title}} ?</label>-->
<!--          </div>-->
<!--          <div class="modal-footer justify-content-center">-->
<!--            <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal.hide();" >Затвори</button>-->
<!--            <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Delete" (click)="deleteBook(collection._id)">Обриши</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  <div class="collection-not-present" *ngIf="!collection">
    Нема направљених колекција.
  </div>

</div>
