<div class="side-misc-wrapper mt-4">
  <mdb-card class="mb-3" borderColor="border-light">
    <mdb-card-header>Претражи још</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Слични наслови</h5>
        <mdb-card-text>
          <a routerLink="#">
            Ben hur,&nbsp;Nolit 1932
          </a><br>
          <a routerLink="#">
            Tom Sojer,&nbsp;Pelikan 1980
          </a><br>
          <a routerLink="#">
            Treći čovek,&nbsp;Grajam Grin,&nbsp;Delfi 2018
          </a><br>
          <a routerLink="#">
            Sicilijanac,&nbsp;Mario puzo,&nbsp;Laguna 2005
          </a><br>
        </mdb-card-text>
      </mdb-card-title>
      <mdb-card-title>
        <h5>Тагови</h5>
      </mdb-card-title>
      <mdb-card-text>
        <a routerLink="#">2009</a>,
        <a routerLink="#">Human</a>,
        <a routerLink="#">Art</a>,
        <a routerLink="#">Nature</a>,
        <a routerLink="#">srp</a>,
        <a routerLink="#">Beograd</a>,
        <a routerLink="#">070</a>,
        <a routerLink="#">20 cm</a>,
        <a routerLink="#">Archangel</a>,
        <a routerLink="#">Beleška</a>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
