<div class="register-info-page-wrapper">
  <h1>Инструкције</h1>
  <h2>Постаните регистровани члан БИСИС-а и користите следеће повољности и онлајн
    услуге</h2>
  <p>
    Увид у тренутно позајмљену грађу и рокове за враћање.<br/>
    Могућност да сами онлајн путем продужите рок враћања позајмљене грађе.<br/>
    Датум истека чланарине.<br/>
    Увид у књиге које сте до сада прочитали.<br/>
    Могућност оцењивања прочитаних књига.<br/>
    Могућност да направите личну онлајн библиотеку – виртуелну полицу са омиљеним
    књигама које сте прочитали или желите да прочитате.<br/>
    Могућност резервисања грађе онлајн путем.<br/>
    Гледање филмова преко АВА платформе <a href="https://bgb.ava.watch">https://bgb.ava.watch</a> <br/>
  </p>
  <h2>Процес регистрације</h2>
  <p>
    Путем имејла:<br/>
    Пошаљите захтев за регистрацију на имејл адресу <a href="mailto:pult@bgb.rs">pult@bgb.rs</a>. Наслов имејла треба да
    гласи Захтев за отварање БИСИС корисничког налога. У имејлу наведите Ваше име и
    презиме и број чланске карте. <br/>
    На Ваш имејл стићи ће активациони линк. Кликом на линк покренућете процес
    регистрације.
  </p>
  <p>
    Директно у библиотеци:<br/>
    Када дођете у библиотеку затражите од библиотекара да Вам пошаље линк за регистрацију на
    Вашу имејл адресу.<br/>
    На Ваш имејл стићи ће активациони линк. Кликом на линк покренућете процес регистрације.<br/>
    Уживајте у могућностима које вам нуди БИСИС каталог!
  </p>
</div>
