.login-page-wrapper {
  .card {
    background-color: rgba(229, 228, 255, 0.2);
  }

  .md-form label {
    color: darkgrey;
  }

  .intro {
    min-height: 100vh;
    position: relative;
  }

  .rgba-stylish-strong .mask {
    background-color: rgba(62, 69, 81, .7);
  }
  
  .login-header {
    background: #00b2d1;
  }

  .login-btn {
    background-color: #00b2d1;
  }

  .forget-pass-btn {
    color: #00b2d1;
    background-color: transparent;
  }
}
