.preview-record-page-wrapper {
  .main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 104px;
    .item-availability-container-sm {
      display: none;
      align-self: center;
    }
    .cover-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      min-width: 280px;
      .img-cover {
        max-width: 364px;
        max-height: 560px;
        border-radius: 4px;
      }
      .social-share-buttons {
        margin-top: 10px;
        a {
          width: 24px;
          height: 24px;
        }
      }
    }

    dt {
      padding-right: 0 !important;
      margin-top: 6px !important;
    }

    dd {
      margin-top: 6px !important;
    }

    img.ng-lazyloaded {
      animation: fadein .5s;
    }

    @keyframes fadein {
      from { opacity: 0.3; }
      to   { opacity: 1; }
    }

    .main-container {
      width: 45%;
      padding-right: 12px;
      .main-info {
        .title > h1 {
          font-family: Yeseva One, serif;
          font-size: 48px;
          color: #212121;
          font-weight: 600;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .subtitle > h2 {
          font-family: Yeseva One, serif;
          font-size: 22px;
          color: #212121;
          font-weight: 600;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .author > span {
          font-family: Roboto, serif;
          font-size: 16px;
          color: #212121;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .pub-info > span {
          font-family: Roboto, serif;
          font-size: 14px;
          color: #9e9e9e;
          text-decoration: none solid rgb(158, 158, 158);
        }
        .book-description > p {
          margin-top: 16px;
          font-family: Roboto, serif;
          font-size: 16px;
          color: #212121;
          text-decoration: none solid rgb(33, 33, 33);
          line-height: 28px;
        }
        .book-details {
          font-family: Roboto, serif;
          margin-top: 128px;
          border-top-style: solid;
          border-top-width: 1px;
          border-top-color: #9e9e9e;
        }
      }
      .card-header {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }

    .item-availability-container {
      width: 360px;
    }
  }
  @media screen and (min-width: 1600px) {
    .img-cover {
      width: 364px;
      height: 560px;
    }
  }

  @media screen and (max-width: 1599px) {
    .cover-container {
      width: 25% !important;
      .img-cover {
        width: 300px;
        height: 450px;
      }
    }
    .main-container {
      width: 50% !important;
      .main-info {
        .title > h1 { font-size: 40px !important; }
        .subtitle > h2 { font-size: 20px !important; }
        .author > span { font-size: 15px !important; }
        .pub-info > span { font-size: 13px !important; }
        .book-description > p { font-size: 15px !important; }
        .book-details { margin-top: 100px !important; }
      }
    }
  }

  @media screen and (max-width: 1439px) {
    .cover-container {
      width: 20%;
      .img-cover {
        width: 250px;
        height: 400px;
      }
    }
    .main-container {
      width: 55%;
      .main-info {
        .title > h1 { font-size: 38px !important; }
        .subtitle > h2 { font-size: 19px !important; }
        .author > span { font-size: 14px !important; }
        .pub-info > span { font-size: 12px !important; }
        .book-description > p { font-size: 14px !important; }
        .book-details { margin-top: 80px !important; }
        dt {font-size: 15px}
        dd { font-size: 14px}
      }
    }
    .item-availability-container {
      width: 300px !important;
    }
  }

  @media screen and (max-width: 1279px) {
    .cover-container {
      width: 17%;
      .img-cover {
        width: 180px;
        height: 300px;
      }
    }
    .main-container {
      width: 58%;
      .main-info {
        .title > h1 { font-size: 36px !important; }
        .subtitle > h2 { font-size: 18px !important; }
        .author > span { font-size: 13px !important; }
        .pub-info > span { font-size: 11px !important; }
        .book-description > p { font-size: 13px !important; }
        .book-details { margin-top: 70px !important; }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .main {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .cover-container {
        width: 100% !important;
        .img-cover {
          width: 320px;
          height: 480px;
        }
      }
      .item-availability-container-sm {
        width: auto !important;
        display: contents;
        mdb-card {
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
      .item-availability-container {
        display: none;
      }
      .main-container {
        width: 100% !important;
        .main-info {
          margin-top: 20px;
          .title > h1 {
            font-size: 32px !important;
            text-align: center
          }
          .subtitle > h2 {
            font-size: 18px !important;
            text-align: center
          }
          ngb-rating {
            align-self: center;
          }
          .ng-star-inserted {
            align-self: center !important;
          }
          .author > span {
            font-size: 13px !important;
          }
          .author { text-align: center; }
          .pub-info > span {
            font-size: 12px !important;
          }
          .pub-info { text-align: center; }
          .book-description > p { font-size: 14px !important; }
          .book-description {
            text-align: center;
          }
          .book-details { margin-top: 24px !important; }
        }
      }
    }
  }

  @media screen and (max-width: 835px) {
    .cover-container {
      .img-cover {
        width: 250px !important;
        height: 370px !important;
      }
    }
  }
}
