.preview-record-page-wrapper {
  .main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 104px;

    .cover-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      min-width: 280px;
      .img-cover {
        max-width: 364px;
        max-height: 560px;
        border-radius: 4px;
      }
      .social-share-buttons {
        margin-top: 10px;
        a {
          width: 24px;
          height: 24px;
        }
      }
    }

    .main-container {
      width: 45%;
      padding-right: 12px;
      .main-info {
        .title > h1 {
          font-family: Yeseva One, serif;
          font-size: 48px;
          color: #212121;
          font-weight: 600;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .subtitle > h2 {
          font-family: Yeseva One, serif;
          font-size: 22px;
          color: #212121;
          font-weight: 600;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .author > span {
          font-family: Roboto, serif;
          font-size: 16px;
          color: #212121;
          text-decoration: none solid rgb(33, 33, 33);
        }
        .pub-info > span {
          font-family: Roboto, serif;
          font-size: 14px;
          color: #9e9e9e;
          text-decoration: none solid rgb(158, 158, 158);
        }
        .book-description > p {
          margin-top: 48px;
          font-family: Roboto, serif;
          font-size: 16px;
          color: #212121;
          text-decoration: none solid rgb(33, 33, 33);
          line-height: 28px;
        }
        .book-details {
          margin-top: 128px;
          border-top-style: solid;
          border-top-width: 1px;
          border-top-color: #9e9e9e;
        }
      }
      .card-header {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }

    .item-availability-container {
      width: 360px;
    }
  }

  @media screen and (max-width: 1599px) {
    .cover-container {
      width: 25% !important;
      .img-cover {
        width: 300px;
        height: 450px;
      }
    }
    .main-container {
      width: 50% !important;
      .main-info {
        .title > h1 { font-size: 40px !important; }
        .subtitle > h2 { font-size: 20px !important; }
        .author > span { font-size: 15px !important; }
        .pub-info > span { font-size: 13px !important; }
        .book-description > p { font-size: 15px !important; }
        .book-details { margin-top: 100px !important; }
      }
    }
  }

  @media screen and (max-width: 1439px) {
    .cover-container {
      width: 20%;
      .img-cover {
        width: 250px;
        height: 400px;
      }
    }
    .main-container {
      width: 55%;
      .main-info {
        .title > h1 { font-size: 38px !important; }
        .subtitle > h2 { font-size: 19px !important; }
        .author > span { font-size: 14px !important; }
        .pub-info > span { font-size: 12px !important; }
        .book-description > p { font-size: 14px !important; }
        .book-details { margin-top: 80px !important; }
        dt {font-size: 15px}
        dd { font-size: 14px}
      }
    }
    .item-availability-container {
      width: 300px !important;
    }
  }

  @media screen and (max-width: 1279px) {
    .cover-container {
      width: 17%;
      .img-cover {
        width: 180px;
        height: 300px;
      }
    }
    .main-container {
      width: 58%;
      .main-info {
        .title > h1 { font-size: 36px !important; }
        .subtitle > h2 { font-size: 18px !important; }
        .author > span { font-size: 13px !important; }
        .pub-info > span { font-size: 11px !important; }
        .book-description > p { font-size: 13px !important; }
        .book-details { margin-top: 70px !important; }
      }
    }
  }
}
