.card {
  box-shadow: unset !important;
}

.book-card-container-class {

  .fixed-height {
    height: 300px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }

}
