<div class="add-to-collection-button-wrapper">
  <div class="btn-group" mdbDropdown>

    <a  mdbDropdownToggle [mdbTooltip]="'Додај у колекцију'" *ngIf="!compaq">
      <div class="add-to-collection mt-2">
        <mdb-icon fas icon="folder-plus" class="text-white"></mdb-icon>
        <span>У колекцију</span>
      </div>
    </a>
    <a  mdbDropdownToggle [mdbTooltip]="'Додај у колекцију'" *ngIf="compaq">
      <div class="add-to-collection mt-2" style="line-height: 28px">
        <mdb-icon fas icon="folder-plus" class="text-white"></mdb-icon>
      </div>
    </a>
    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" *ngFor="let c of collections" (click)="addToCollection(c._id, bookId)">{{c.title}}</a>
    </div>
  </div>
</div>
