.fa-bell, .calendar-icon {
  margin-right: 10px;
  color: #00b2d1;
}

mdb-card {
  margin-bottom: 20px;
}

.btns {
  float: right;
  display: flex;
  cursor: pointer;
}

.edit-div {
  margin-right: 10px;
}

.edit-div, .delete-div {
  font-size: 0.8em;
}

#btn-add-event {
  float: right;
  cursor: pointer;
}

pagination-controls {
  text-align: center;
}

.title {
  display: inline;
  font-weight: bold;
  color: #00b2d1;
}

.media-content {
  margin-top: 8px;
  font-size: 16px;
}
