<button id="btn-add-event" type="button" mdbBtn color="default" data-toggle="modal" data-cy="new-event"
        data-target="#basicExample" (click)="onBtnCreteNewFaq();createModal.show()" mdbWavesEffect i18n="@@novoObavestenje">Ново обавештење
</button>

<div class="text-center admin-page-title">
  <h5 i18n="@@obavestenjaCAPS">ОБАВЕШТЕЊА</h5><br>
</div>

<main>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <section class="mb-5">
        <div class="media mb-1" *ngFor="let notification of notifications | paginate:
          {id: 'paginatorId',
          itemsPerPage: pageOptions?.pageSize,
          currentPage: pageOptions?.currentPage,
          totalItems: resultPage?.page.totalElements};">
          <div class="media-body">
            <hr>
            <div style="display: inline-block">
              <i *ngIf="notification.type === 'info'" class="far fa-bell type-icon"></i>
              <mdb-icon *ngIf="notification.type === 'event'" class="calendar-icon" far icon="calendar-alt"></mdb-icon>
              <h5 class="media-heading title">{{ notification.title }}</h5>
            </div>
            <p class="media-content">{{ notification.content }}</p>
            <div><b style="color: #c35c42">{{notification.sender}}</b>, {{notification.sentDate | date: "dd.MM.yyyy."}}
            </div>
          </div>
        </div>
        <hr>
      </section>
    </div>
  </div>
</main>

<pagination-controls [id]="'paginatorId'"
                     [maxSize]="5"
                     [directionLinks]="true"
                     [responsive]="true"
                     previousLabel="Претходна"
                     i18n-previousLabel="@@prethodna"
                     nextLabel="Следећа"
                     i18n-nextLabel="@@sledeca"
                     (pageChange)="onPageChange($event)"
                     *ngIf="notifications">
</pagination-controls>


<div mdbModal #createModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="createModal.hide();"
     data-mdb-target="#eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 font-weight-bold" i18n="@@obavestenje">
          <i class="far fa-bell"></i>
          Обавештење
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="createModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text"
                 id="orangeForm-name"
                 class="form-control"
                 [formControl]="title"
                 [(ngModel)]="notification.title"
                 data-cy="question"
                 mdbInput mdbValidate>
          <label for="orangeForm-name" i18n="@@naslovZvezdica">* Наслов</label>
          <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)" i18n="@@naslovJeObavezan">
            Наслов је обавезан
          </mdb-error>
        </div>
        <div class="md-form mb-5">
          <textarea class="md-textarea form-control"
                    rows="2"
                    id="content"
                    type="text"
                    length="1000"
                    [maxLength]="1000"
                    [(ngModel)]="notification.content"
                    [formControl]="content"
                    data-cy="answer"
                    mdbCharCounter mdbInput mdbValidate>
          </textarea>
          <label for="content" i18n="@@sadrzajZvezdica">* Садржај</label>
          <mdb-error
            *ngIf="content.invalid && (content.dirty || content.touched)" i18n="@@sadrzajJeObavezan">Садржај је обавезан
          </mdb-error>
        </div>
        <div>
          <label class="mdb-main-label" i18n="@@izaberiteTip">Изаберите тип</label>
          <select class="browser-default custom-select"
                  [formControl]="type"
                  [(ngModel)]="notification.type">
            <option *ngFor="let type of notificationTypes" [value]="type.value">{{type.label}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="onBtnSaveFaq();"
                data-cy="save-faq-btn" i18n="@@sacuvaj">
          Сачувај
        </button>
      </div>
    </div>
  </div>
</div>
