<div class="items-availability-card-wrapper">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title><h5>Доступност примерака</h5></mdb-card-title>
      <mdb-card-text>
        <p>
          укупно: <strong>{{totalItems ? totalItems : '0'}}</strong> &nbsp;
          слободно: <strong>{{availableItems ? availableItems : '0'}}</strong> &nbsp;
          резервисано: <strong>0</strong>
        </p>
        <p class="mb-0" *ngIf="locations && locations.length > 0">
          <strong>на локацијама:</strong>
        </p>
        <div class="locations-list scrollbar square scrollbar-primary" *ngIf="locations && locations.length > 0">
          <ul class="list-unstyled pl-3 force-overflow">
            <li *ngFor="let l of locations">{{l}}</li>
          </ul>
        </div>
      </mdb-card-text>
      <div class="buttons">
        <a class="btn btn-unique waves-light availability-card-btn">Резервиши</a><br/>
        <a class="btn btn-default waves-light availability-card-btn" *ngIf="booksOnShelf.indexOf(bookId) === -1" (click)="addToShelf()">
          Додај на полицу
        </a>
        <a class="btn btn-danger waves-light availability-card-btn" *ngIf="booksOnShelf.indexOf(bookId) !== -1" (click)="removeFromShelf()">
          Склони са полице
        </a>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
