<div class="items-availability-card-wrapper">
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title><h5>Доступност примерака</h5></mdb-card-title>
      <mdb-card-text>
        <p>
          укупно: <strong>7</strong> &nbsp;
          слободно: <strong>3</strong> &nbsp;
          резервисано: <strong>0</strong>
        </p>
        <p class="mb-0">
          на локацијама:
        </p>
        <ul class="list-unstyled pl-3">
          <li>Централна</li>
          <li>Стари Град</li>
          <li>Савски Венац</li>
        </ul>
      </mdb-card-text>
      <div class="buttons">
        <a class="btn btn-unique waves-light availability-card-btn" mdbWavesEffect>Резервиши</a><br/>
        <a class="btn btn-default waves-light availability-card-btn" mdbWavesEffect (click)="addToShelf()">Додај на полицу</a>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
