.items-availability-card-wrapper {
  cursor: default;
  mdb-card {
    min-width: 290px;
    min-height: 300px;
    max-height: 340px;
  }
  .btn-style {
    width: 150px;
    font-size: 12px;
  }

  .locations-list {
    max-height: 120px;
    overflow-y: auto;
  }
}
