.items-availability-card-wrapper {
  width: auto;
  cursor: default;
  .card {
    box-shadow: none !important;
  }
  mdb-card {
    //min-width: 360px;
    min-height: 250px;
    max-height: 340px;
  }
  .btn-style {
    width: 220px;
    font-size: 12px;
    height: 40px;
    margin-bottom: 5px;
  }

  .reserve-shelf-row {
    display: flex;
    flex-direction: row;
    align-content: baseline;
  }

  .btn-unique {background-color: #880e4f}
  .btn-default {background-color: #2bbbad}
  .btn-danger {background-color: #bb112e}
  .btn-info {background-color: #33b5e5}

  .reserve-shelf-buttons {
    width: 152px;
    height: 48px;
    line-height: 48px;
    //padding: 0 0 0 24px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #00b2d1;
    background-size: cover;
    font-family: Roboto, serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    padding-left: 24px;
    &:hover {background-color: #009cb8}
  }

  .on-shelf-btn {
    //margin-left: 16px;
    background-color: #e0e0e0;
    color: #212121;
    text-decoration: none solid rgb(33, 33, 33);
    &:hover {background-color: #c7c7c7}
  }

  add-to-collection-button {
    .add-to-collection {
      width: 320px;
    }
  }

  @media only screen and (max-width: 1439px) {
    .card {
      width: 300px;
    }
    .reserve-shelf-buttons {
      width: 125px;
      height: 48px;
      font-size: 13px;
    }
    add-to-collection-button {
      .add-to-collection {
        width: 272px;
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    margin-top: 24px !important;
    .card {
      width: 360px;
    }
    .reserve-shelf-buttons {
      width: 152px;
      font-size: 16px;
    }
    add-to-collection-button {
      .add-to-collection {
        width: 320px;
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: 377px) {
    .card {
      width: 300px;
    }
    .reserve-shelf-buttons {
      width: 125px;
      height: 48px;
      font-size: 13px;
    }
    add-to-collection-button {
      .add-to-collection {
        width: 267px;
        font-size: 14px;
      }
    }
  }

  //@media only screen and (max-width: 835px) {
  //  mdb-card {
  //    width: 280px !important;
  //  }
  //}

  //@media only screen and (max-width: 835px) {
  //  h5 {font-size: 16px; }
  //  p  {font-size: 12px; }
  //  select { font-size: 12px; width: 90% }
  //  mdb-card {
  //    min-width: 280px;
  //    //min-height: 330px;
  //  }
  //  .btn-style {
  //    font-size: 10.5px;
  //    width: 200px;
  //    height: 35px;
  //    line-height: 10.5px;
  //  }
  //  add-to-collection-button {
  //    .add-to-coll-btn {
  //      width: 203px;
  //    }
  //  }
  //}

  .locations-list {
    max-height: 120px;
    overflow-y: auto;
  }

  .items-availability-numbers, .mb-0 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .ml-2 {
    margin-top: 10px
  }
}
