<div class="collection-carousel-wrapper d-flex flex-column">
  <div class="title p-2">
    <h2>
      {{title}}
    </h2>
  </div>
  <div class="carousel-content d-flex flex-row justify-content-between">
    <div class="p-1 left-arrow position-sticky">
      <mdb-icon fas icon="caret-left" size="3x" *ngIf="activeSlideIndex != 0" (click)="previousSlide()"></mdb-icon>
    </div>
    <div class="p-10 books-slide animated" [ngClass]="{'slideInRight': animateDirection=='left', 'slideInLeft': animateDirection=='right'}"
         *ngFor="let b of slides[activeSlideIndex]">
      <book-card2 [book]="b"></book-card2>
    </div>
    <div class="p-1 right-arrow position-sticky">
      <mdb-icon fas icon="caret-right" size="3x" *ngIf="activeSlideIndex != lastSlide" (click)="nextSlide()"></mdb-icon>
    </div>
  </div>
  <div class="slide-circles p-1 d-flex flex-row justify-content-center">
    <div *ngFor="let item of slides; let i = index" class="selected-slide">
      <mdb-icon icon="circle fa-xs" *ngIf="activeSlideIndex!=i" fas (click)="changeSlide(i)"></mdb-icon>
      <mdb-icon icon="circle fa" *ngIf="activeSlideIndex==i" far (click)="changeSlide(i)"></mdb-icon>
    </div>
  </div>
</div>
