.collection-carousel-wrapper {
  height: 330px;
  width: 100%;

  .title{
    //background: red;
  }

  .left-arrow {
    margin-top: 70px;
    cursor: pointer;
  }
  .left-arrow:hover {
    opacity: 0.5;
  }
  .right-arrow {
    margin-top: 70px;
    cursor: pointer;
    //background: burlywood;
  }
  .right-arrow:hover {
    opacity: 0.5;
  }

  .books-slide {
  }

  .slide-circles {
    margin-top: 30px;
    div.selected-slide {
      margin-left: 0.75%;
    }
    .selected-slide:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
