<div class="collection-carousel-wrapper d-flex flex-column">
  <div class="title p-2">
    <div>
      <h2>{{title}}</h2>
    </div>
    <div>
      <div *ngIf="slides.length > 1 && slides.length < 6" class="p-1 d-flex flex-row justify-content-center">
        <div *ngFor="let item of slides; let i = index" class="selected-slide" (click)="changeSlide(i)">
          <div class="{{activeSlideIndex === i ? 'active-slide' : 'inactive-slide'}}">
            <a>{{i}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-content carousel-background d-flex flex-row justify-content-between" (swiperight)="previousSlide()" (swipeleft)="nextSlide()">
    <div class="arrow-container {{activeSlideIndex === 0 ? 'arrow-my-disabled' : ''}}" *ngIf="slides && slides.length > 1">
      <a mdbBtn floating="true" size="48" class="arrow-my" mdbWavesEffect [ngClass]="activeSlideIndex == 0 ? 'inactive' : ''" (click)="previousSlide()">
        <mdb-icon fas icon="angle-left"></mdb-icon>
      </a>
    </div>
    <div class="books {{flexStartLayout ? 'justify-content-start' : 'justify-content-between'}}" >
      <div class="p-10 books-slide animated" [ngClass]="{'slideInRight': animateDirection=='left', 'slideInLeft': animateDirection=='right'}"
           *ngFor="let b of slides[activeSlideIndex]">
        <book-card [book]="b" [withButtonsAndInfo]="true"></book-card>
      </div>
    </div>
    <div class="arrow-container2 {{activeSlideIndex === lastSlide ? 'arrow-my-disabled' : ''}}" *ngIf="slides && slides.length > 1">
      <a mdbBtn floating="true" size="48" class="arrow-my" mdbWavesEffect (click)="nextSlide()">
        <mdb-icon fas icon="angle-right"></mdb-icon>
      </a>
    </div>
  </div>
</div>
