.shelf-page-wrapper {
  .card {
    box-shadow: unset !important;
  }

  .card:hover {
    .remove-from-shelf{
      display: block;
    }
  }

  .fixed-height {
    height: auto;
  }

  .fixed-width {
    width: auto;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }

  .holder {

  }
  .remove-from-shelf:hover {
    cursor: pointer;
    opacity: 0.95;
  }

  .remove-from-shelf {
    //background: white;
    position: absolute;
    opacity: 0.6;
    top: 2px;
    right: 2px;
    z-index: 56;
    display: none;

  }


}
