.card {
  box-shadow: unset !important;
}

.fixed-height {
  //height: 270px;
  height: auto;
}

.fixed-width {
  //max-width: 300px;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}
