.book-page-wrapper {
  .author-link:hover {
    text-decoration: underline !important;
  }

  p.unimarc {
    font-family: 'Fira Mono', monospace;
    font-size: smaller;
  }

  .book-tabs.tab-container > div.row > div > ul {
    background: red;
  }
}
