<div class="book-page-wrapper">
  <ng-container *ngIf="book">
    <div class="main-container d-flex flex-container">
      <div class="book-container p-2 container-fluid">
        <div class="flex-1">
          <div class="d-flex book-info">
            <div class="mr-3">
              <img data-src="{{book.imageUrl}}"
                   height="200"
                   onError="this.src='../../../../assets/book/nocover/1.jpg';"/>
            </div>
            <div class="flex-1">
              <h3 class="h3-responsive">{{book.title}}</h3>
              <h5 *ngIf="book.subtitle" class="h5-responsive">{{book.subtitle}}</h5>
              <p>
              <span *ngFor="let author of book.authors; let last = last">
                <a class="author-link">{{author}}</a><span *ngIf="!last">, </span>
              </span>
              </p>
              <p class="publisher">{{book.publisher}}, {{book.year}}.</p>
            </div>
          </div>
          <div class="items-sm mt-4">
          <items-availability-card ></items-availability-card>
          </div>
          <div class="d-flex flex-column">
            <div class="mb-2">
              <read-more>
                {{book.description ? book.description : 'Нема описа за овај запис.'}}
              </read-more>
            </div>
            <div class="book-tabs">
              <mdb-tabset [buttonClass]="'md-tabs tabs-3  blue'" >
                <mdb-tab heading="Детаљи">
                  <div class="row">
                    <div class="col-12 mt-2">
                      <dl class="row">
                        <ng-container *ngIf="book.authors && book.authors.length > 0 && book.authors[0].trim() !== ''">
                          <dt class="col-sm-2">Аутори</dt>
                          <dd class="col-sm-10">{{book.authors}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book.title">
                          <dt class="col-sm-2">Наслов</dt>
                          <dd class="col-sm-10">{{book.title}}</dd>
                        </ng-container>

<!--                        TODO: URL(polje 856)-->
                        <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_PUBLISHER_INFO">
                          <dt class="col-sm-2" >О издавачу</dt>
                          <dd class="col-sm-10">{{book | recordFormat:RecordFormatType.FORMAT_PUBLISHER_INFO}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_BOOK_PHYSICAL_INFO">
                          <dt class="col-sm-2" >Физички опис</dt>
                          <dd class="col-sm-10">{{book | recordFormat:RecordFormatType.FORMAT_BOOK_PHYSICAL_INFO}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book.notes">
                          <dt class="col-sm-2">Напомене</dt>
                          <dd class="col-sm-10">{{book.notes}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book.isbn">
                          <dt class="col-sm-2">ISBN</dt>
                          <dd class="col-sm-10">{{book.isbn}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book.issn">
                          <dt class="col-sm-2">ISSN</dt>
                          <dd class="col-sm-10">{{book.issn}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book.udk">
                          <dt class="col-sm-2">UDK</dt>
                          <dd class="col-sm-10">{{book.udk}}</dd>
                        </ng-container>

                        <ng-container *ngIf="book | recordFormat:RecordFormatType.FORMAT_FIRST_SIGNATURE_INFO">
                          <dt class="col-sm-2">Сигнатура I</dt>
                          <dd class="col-sm-10">
                            {{book | recordFormat:RecordFormatType.FORMAT_FIRST_SIGNATURE_INFO}}
                            <span><strong style="color: darkblue; cursor: pointer; font-size: 13px;">...остале</strong></span>
                          </dd>
                        </ng-container>

                      </dl>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="ISBD">
                  <div class="row">
                    <div class="col-12 mt-2">
                      <p>
                        <strong>HERIS, Robert</strong><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Arhangelsk / Robert Heris ; preveo Nikola Jordanov. - Beograd : Laguna, 2007 (Beograd : Margo-art). - 382 str. ; 20 cm
                      </p>
                      <p>
                        Prevod dela: Archangel / Robert Harris. - Tiraž 1.500. - Beleška o piscu: str. [383].
                      </p>
                      <p>
                        ISBN 978-86-7436-653-0 (broš.)<br/>
                        821.111-31
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="UNIMARC">
<!--                  TODO: move this into separate component -->
                  <div class="row">
                    <div class="col-12 mt-2" *ngIf="book.record && book.record.fields">
                      <p class="unimarc">
                        <ng-container *ngFor="let f of book.record.fields">
                          <strong>{{f.name}}</strong>
                          {{f | makeIndicator}}
                          <ng-container *ngFor="let sf of f.subfields">
  <!--                        [a]</strong>HARIS  <strong>[b]</strong>Robert<br/>-->
                            <strong>[{{sf.name}}]</strong>{{sf.content}}&nbsp;
                            <ng-container *ngIf="sf.secField">
                              <strong>{{</strong>
                              <strong>{{sf.secField.name}}</strong>
                              {{sf.secField | makeIndicator}}&nbsp;
                              <ng-container *ngFor="let secSf of sf.secField.subfields">
                                <strong>{{secSf.name}}</strong>&nbsp;{{secSf.content}}
                              </ng-container>
                              <strong>}}</strong>
                            </ng-container>
                          </ng-container>
                          <br/>
                        </ng-container>
                      </p>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>
            </div>
          </div>
        </div>
      </div>
      <div class="other-container p-2 container-fluid">
        <items-availability-card [bookId]="book._id"></items-availability-card>
        <side-misc></side-misc>
      </div>
    </div>
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne1">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
             aria-controls="collapseOne1">
            <h5 class="mb-0">
              Локације <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
          <div class="card-body">
            <div class="" *ngIf="book.items && book.items.length > 0">
              <items-table [items]="book.items"></items-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
