.book-page-wrapper {
  .main-container {
    flex-direction: row;
    .items-sm {
      visibility: hidden;
      display: none;
    }
    @media only screen and (max-width: 680px) {
      .book-info {
        margin-bottom: 30px;
      }
      flex-direction: column-reverse;
      .items-sm {
        visibility: visible;
        display: contents;
      }
    }
    .book-container {
      @media only screen and (max-width: 880px) {
        dt {font-size: 14px; }
        dd {font-size: 13px; }
      }
      @media only screen and (max-width: 680px) {
        h3 {font-size: 16px; }
        h5 {font-size: 15px; }
        read-more {font-size: 14px; }
        .author-link {font-size: 14px; }
        .publisher {font-size: 14px; }
        .unimarc {font-size: 14px; }
        .isbd {font-size: 14px; }
      }

      .publisher {
        margin-top: 88px;
      }

    }

    .other-container {
      width: 40%;
      @media only screen and (max-width: 680px) {
        width: 100%;
        h5 {font-size: 16px; }
        p {font-size: 14px; }
        a {
          font-size: 10px;
          height: 35px;
          line-height: 10px;
          width: 100px;
        }
        side-misc {
          display: none;
        }
        items-availability-card {
          display: none;
        }
      }
    }
  }
}
