<div class="book-page-wrapper">
  <div *ngIf="book">
    <div class="main-container d-flex flex-container">
      <div class="book-container p-2 container-fluid">
        <div class="flex-1">
          <div class="d-flex book-info">
            <div class="mr-3">
              <img data-src="{{book.imageUrl}}"
                   class="img-cover"
                   onError="this.src='../../../../assets/book/nocover/1.jpg';" alt="Слика корице"/>
            </div>
            <div class="flex-1 book-data">
              <div>
                <h3 class="h3-responsive">{{book.title}}</h3>
                <h5 *ngIf="book.subtitle" class="h5-responsive">{{book.subtitle}}</h5>
                <div class="pub-type">
                  <div *ngIf="book.pubType === 1">
                    <mdb-icon fas icon="book"></mdb-icon> монографија
                  </div>
                  <div *ngIf="book.pubType === 2">
                    <mdb-icon fas icon="scroll"></mdb-icon> серијска
                  </div>
                </div>
                <p>
                  <span *ngFor="let author of book.authors; let last = last">
                    <a class="author-link">{{author}}</a><span *ngIf="!last">, </span>
                  </span>
                </p>
                <book-star-rating [recordId]="book._id" [bookRating]="book.avgRating"
                                  [allRatings]="book.record.recordRatings"
                                  [totalRatings]="book.totalRatings"></book-star-rating>
              </div>
              <p class="publisher">{{book | recordFormat:RecordFormatType.FORMAT_PUBLISHER_INFO}}</p>
            </div>
          </div>
          <div class="items-sm mt-4">
            <items-availability-card [bookId]="book._id" [recordItems]="book.items" [containShowableItems]="showLocations"></items-availability-card>
          </div>

        </div>
      </div>
      <div class="other-container p-2 container-fluid">
        <items-availability-card [bookId]="book._id" [recordItems]="book.items" [containShowableItems]="showLocations"></items-availability-card>
<!--        TODO: Put links to related search to this record in this component-->
<!--        <side-misc></side-misc>-->
      </div>
    </div>
      <div class="social-share-buttons ml-2">
        <a class="icons-sm fb-ic mr-2" (click)="share('fb')"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
        <a class="icons-sm ins-ic mr-2"><mdb-icon fab icon="instagram"></mdb-icon></a>
        <a class="icons-sm gplus-ic mr-2"><mdb-icon fab icon="google-plus"></mdb-icon></a>
        <a class="icons-sm tw-ic mr-2"><mdb-icon fab icon="twitter"></mdb-icon></a>
        <a class="icons-sm email-ic"><mdb-icon fas icon="envelope"></mdb-icon></a>
      </div>
      <a *ngIf="isAdmin" [routerLink]="['/book/description-cover', lib, book._id]" class="ml-2">Мењај слику и опис</a>
      <div class="d-flex flex-column">
        <div class="mb-2">
          <read-more *ngIf="book.description && book.description.trim() !== ''">
            <h4>Опис</h4>
            {{book.description ? book.description : 'Нема описа за овај запис.'}}
          </read-more>
        </div>
      </div>
      <book-tabs [book]="book" ></book-tabs>
      <mdb-accordion *ngIf="showLocations">
        <mdb-accordion-item [collapsed]="false">
          <mdb-accordion-item-head>
            <h5 class="mb-0">
              Локације
            </h5>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <div class="" *ngIf="book.items && book.items.length > 0">
              <items-table [items]="book.items"></items-table>
            </div>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
  <div id="end"></div>

</div>
