<div class="paginator-component-wrapper">
<!--  Templates for different count of returned results-->
  <ng-template #empty>
    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
  </ng-template>
  <ng-template #le3>
    <li class="page-item" *ngFor="let p of totalPages | fillArray; let i = index"><a class="page-link" mdbWavesEffect>{{i}}</a></li>
  </ng-template>
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue justify-content-center">
      <li class="page-item {{first ? 'disabled': ''}}">
        <a class="page-link" tabindex="-1" mdbWavesEffect>Претходна</a>
      </li>
<!--      <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>-->
<!--      <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>-->
<!--      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>-->
<!--      <li *ngFor="let p of totalPages | fillArray; let i = index" class="page-item"><a class="page-link" mdbWavesEffect>{{i}}</a></li>-->
      <ng-container  *ngTemplateOutlet="first && last? empty: ''"></ng-container>
      <li class="page-item {{last ? 'disabled': ''}}">
        <a class="page-link" mdbWavesEffect>Следећа</a>
      </li>
    </ul>
  </nav>
</div>
