.admin-collections-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .left-panel {
    width: 300px;
    height: auto;

    .collections-list {
      overflow-y: auto;
      max-height: 720px;
      width: 235px;
    }

    button {
      width: 230px;
    }
  }

  .collection-content {
    width: 100%;
    height: auto;
  }
}
