.admin-collections-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .collection-list {
    max-width: 100%;
    display: block;
    overflow: hidden;

    .collection-item {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      //color: rgba(139, 68, 49, 0.87);
      font-weight: 500;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      font-size: 14px;
    }

    .collection-item:active {
      background: lightgrey;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .collection-item:last-child {
      border: none;
    }

    .collection-list.cdk-drop-list-dragging .collection-item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .left-panel {
    width: 300px;
    height: auto;

    .collections-list {
      overflow-y: auto;
      max-height: 1280px;
      width: 235px;
    }

    button {
      width: 230px;
    }
  }

  .collection-content {
    width: 100%;
    height: auto;
  }
}
