<mdb-card class="my-2 no-box-shadow">
  <div class="fixed-action-btn left-carousel-button">
    <a class="btn-floating waves-light primary-color" mdbWavesEffect (click)="previousSlide()">
      <mdb-icon fas icon="chevron-left"></mdb-icon>
    </a>
  </div>
  <div class="fixed-action-btn right-carousel-button">
    <a class="btn-floating waves-light primary-color" mdbWavesEffect (click)="nextSlide()">
      <mdb-icon fas icon="chevron-right"></mdb-icon>
    </a>
  </div>
  <mdb-card-body>
    <mdb-card-title><h4>{{title}}</h4></mdb-card-title>
    <mdb-carousel #carousel [animation]="'slide'" [ngSwitch]="carouselDisplayMode" [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [interval]="'0'">
      <ng-container *ngSwitchCase="'single'">
        <mdb-carousel-item *ngFor="let book of books">
          <app-book-card [book]="book"></app-book-card>
        </mdb-carousel-item>
      </ng-container>

      <ng-container *ngSwitchCase="'multiple'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
          <div class="px-0" [ngClass]="{'d-none d-md-block': cardIndex !== 0, 'col-md-4': chunkSize == 3, 'col-md-3': chunkSize == 4}" *ngFor="let book of item; let cardIndex = index">
            <app-book-card [book]="book"></app-book-card>
          </div>
        </mdb-carousel-item>
      </ng-container>
    </mdb-carousel>
  </mdb-card-body>
</mdb-card>
