.result-page-wrapper {

    nav.navbar {margin-bottom: 20px;}

  pagination-controls {
    text-align: center;
  }

  .navbar > .container, .navbar > .container-fluid {
    padding: 0;
  }

  search-filters {
    .card .card-body {padding: 0 5px;}
    .accordion .card .card-header {
      padding-left: 5px;
      h5 {font-size: 18px;}
    }
  }

  .options-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 0.5px solid #f5f5f5;
  }

  .btn-designed {
    margin-top: 24px;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 40px;
    padding-left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #f5f5f5;
    background-size: cover;
    &:hover {
      background-color: #d6d6d6;
    }
    &:active {
      background-color: #00b2d1;
      mdb-icon > i {
        color: white;
      }
    }
  }

  .ngx-pagination .current {
    border-radius: 4px;
    background-color: #00b2d1;
  }

  .selected-records {
    margin-right: auto;
    margin-top: auto;
    font-size: 17px !important;
    font-weight: 500;
    width: auto;
    height: 24px;
    font-family: Roboto, serif;
    color: #212121;
    text-decoration: none solid rgb(33, 33, 33);
  }


  .filters-modal-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 98%;
    font-size: 16px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 10px;
  }

  .total-results-label {
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;
    margin-top: auto;
  }

  .filters-modal-btn:hover {
    opacity: 1;
  }

  .separator {
    border-bottom: gray solid 1.5px;
    margin-bottom: 10px;
    opacity: 0.2;
  }

  .card {
    box-shadow: unset !important;
  }

  .fixed-height {
    height: 270px;
  }

  .fixed-width {
    max-width: 150px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }

  // Big screens -------------------------------------
  @media screen and (max-width: 1600px) {
    .selected-records {
      font-size: 15px !important;
      font-weight: 500;
      height: 24px;
    }
    .btn-designed {
      margin-top: 34px;
      margin-left: 4px;
      margin-right: 4px;
      line-height: 30px;
      padding-left: 8px;
      width: 30px;
      height: 30px;
    }
    search-top-nav {
      .view-type-button {
        margin-top: 34px;
        margin-left: 4px;
        margin-right: 4px;
        line-height: 30px;
        padding-left: 8px;
        width: 30px;
        height: 30px;
      }
      .page-size-cmb {
        margin-top: 18px;
        width: 80px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
      }
      .sort-cmb {
        margin-top: 18px;
        width: 160px;
        height: 34px;
        line-height: 34px;
        font-size: 13px;
      }
      .label-sort {
        width: 150px;
        height: 14px;
        font-size: 12px;
      }
      .per-page-label {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .selected-records {
      font-size: 13px !important;
      font-weight: 500;
      height: 20px;
    }
    .btn-designed {
      margin-top: 50px;
      margin-left: 3px;
      margin-right: 3px;
      line-height: 30px;
      padding-left: 8px;
      width: 30px;
      height: 30px;
    }
    search-top-nav {
      .view-type-button {
        margin-top: 50px;
        margin-left: 3px;
        margin-right: 3px;
        line-height: 30px;
        padding-left: 8px;
        width: 30px;
        height: 30px;
      }
      .page-size-cmb {
        margin-top: 25px;
        width: 60px;
        font-size: 11px;
        height: 36px;
      }

      .label-sort {
        width: 130px;
        height: 14px;
        font-size: 12px;
      }
      .sort-cmb {
        margin-top: 29px;
        width: 130px !important;
        padding: 0 10px;
        height: 36px;
        line-height: 34px;
        font-size: 13px;
        .caret-pulled-right {
          display: none;
        }
      }
    }
    .total-results-label {
      font-size: 14px;
    }
  }
  //  --------------------------------------------
}
