.result-page-wrapper {

  .filters-modal-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 98%;
    font-size: 16px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 10px;
  }

  .filters-modal-btn:hover {
    opacity: 1;
  }

  .separator {
    border-bottom: gray solid 1.5px;
    margin-bottom: 10px;
    opacity: 0.2;
  }

  .card {
    box-shadow: unset !important;
  }

  .fixed-height {
    height: 270px;
  }

  .fixed-width {
    max-width: 150px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    text-decoration: underline;
  }
}
