<div class="activate-account-page-wrapper">
  <mdb-card>
    <mdb-card-header class="primary-color white-text text-center py-4">
      <h5 *ngIf="!restartPasswordMode">
        Активација корисничког налога <strong>OPAC</strong>
      </h5>
      <h5 *ngIf="restartPasswordMode">
        Измена лозинке
      </h5>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">
      <form class="text-center" style="color: #757575;">
        <p class="mt-2">
          Унесите жељену лозинку за:<br> {{libraryMember?.username}}
        </p>
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword1" class="form-control" mdbInput [(ngModel)]="this.pass1" name="pass1" (ngModelChange)="pass1Changed.next($event)">
          <label for="materialLoginFormPassword1">Лозинка</label>
        </div>
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword2" class="form-control" mdbInput [(ngModel)]="this.pass2" name="pass2" (ngModelChange)="pass2Changed.next($event)">
          <label for="materialLoginFormPassword2">Поновите лозинку</label>
        </div>
        <button mdbBtn outline="false" rounded="true" block="true"
                class="my-4 waves-effect z-depth-0"
                [ngClass]="isValid ? 'btn-success' : 'btn-warning'"
                type="submit" (click)="activateAccount()" >
          <ng-container *ngIf="!restartPasswordMode">Активирајте налог</ng-container>
          <ng-container *ngIf="restartPasswordMode">Промените лозинку</ng-container>
        </button>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>
