.read-more-wrapper {
  div.read-more {
    position: relative;
  }

  div.collapsed {
    overflow: hidden;
  }

  div.expand {
    width: 100%;
    bottom: -20px;
    background-color: #eeeeee;
    border-radius: 4px;
    padding-left: 12px;
    cursor: pointer;
    span {
      font-weight: 500;
    }
  }
}
