.read-more-wrapper {
  div.read-more {
    position: relative;
  }

  div.collapsed {
    height: 150px;
    overflow: hidden;
  }

  div.expand {
    position: absolute;
    bottom: 0;
    right: 16px;
    background-color: #eeeeee;
    cursor: pointer;
    padding: 5px;
  }
}
