.read-more-wrapper {
  div.read-more {
    position: relative;
  }

  div.collapsed {
    //height: 150px;
    overflow: hidden;
  }

  div.expand {
    //position: absolute;
    width: 100%;
    padding: 0;
    bottom: -20px;
    background-color: #eeeeee;
    cursor: pointer;
  }
}
